[2016-07-15 05:15] #769 closed

[2016-07-15 05:41] slide commented on #779
This should be fixed by using ipyc (the IronPython compiler).

[2016-07-15 05:41] #779 closed

[2016-07-15 05:42] slide commented on #816
Silverlight isn't supported

[2016-07-15 05:42] #816 closed

[2016-07-15 05:43] slide commented on #831
Silverlight is not supported.

[2016-07-15 05:43] #831 closed

[2016-07-15 05:50] slide commented on #985
IPC allows adding an icon.

[2016-07-15 05:50] #985 closed

[2016-07-15 05:51] #770 closed

[2016-07-15 05:54] #1007 closed

[2016-07-15 05:55] slide commented on #1031
This is a duplicate of other issues.

[2016-07-15 05:55] #1031 closed

[2016-07-15 05:57] slide commented on #1063
Silverlight not supported.

[2016-07-15 05:57] #1063 closed

[2016-07-15 05:58] slide commented on #1087
Old version of mono not supported.

[2016-07-15 05:58] #1087 closed

[2016-07-15 06:01] slide commented on #1075
Not enough info

[2016-07-15 06:01] #1075 closed

[2016-07-15 06:02] slide commented on #1050
Not enough info

[2016-07-15 06:02] #1050 closed

[2016-07-15 06:02] slide commented on #1049
Not enough info

[2016-07-15 06:02] #1049 closed

[2016-07-15 06:05] slide commented on #1106
Silverlight not supported.

[2016-07-15 06:05] #1106 closed

[2016-07-15 06:06] slide commented on #1195
Please open this on the ironruby repo (https://github.com/IronLanguages/ironruby)

[2016-07-15 06:06] #1195 closed

[2016-07-15 06:08] #1255 closed

[2016-07-15 06:11] slide commented on #1267
No, I don't think it does

[2016-07-15 06:12] slide commented on #1023
We need to try this with a newer JIT like RyuJIT

[2016-07-15 06:13] #899 closed

[2016-07-15 06:56] simplicbe commented on #1239
I've created a blog entry for this. Will be published this weekend. That should solve your problem.

[2016-07-15 06:56] #1239 closed

[2016-07-15 06:57] simplicbe commented on #1273
Tried a lot, can't reproduce this issue. Please reopen if required. Please also try the newest versions which will be released in the next weeks (beta/rc/final).

[2016-07-15 06:57] #1273 closed

[2016-07-15 06:59] simplicbe commented on #1253
I've done this a few weeks ago, this is possible with the next release. If someone need some information how to do this. please take a look here: https://github.com/simplic-systems/simplic-dlr and for more details: https://github.com/simplic-systems/simplic-dlr/blob/master/src/Simplic.Dlr/Import/GenericImporter.cs Do to this, you need the newest, self compiled version, cause I've made some changes

[2016-07-15 06:59] #1253 closed

[2016-07-15 07:02] simplicbe commented on #1272
I think everything is said.

[2016-07-15 07:02] #1272 closed

[2016-07-15 15:18] slide commented on #1288
Can you specify a link to the pychromecast package?

[2016-07-15 15:45] slide commented on #1215
I don't see this issue with the latest mono. Please confirm.

[2016-07-15 17:09] slide commented on #1194
We will be bumping the DLR version on the next release of IronPython.

[2016-07-15 17:38] slide commented on #1146
Please reopen if there is still an issue (probably is) on a newer version of Mono.

[2016-07-15 17:38] #1146 closed

[2016-07-15 17:39] #1119 closed

[2016-07-15 17:39] #1129 closed

[2016-07-15 18:01] slide commented on #1135
This is still an issue.

[2016-07-15 18:02] slide commented on #1117
PIL is not currently supported, it uses native modules.

[2016-07-15 18:02] #1117 closed

[2016-07-15 18:04] slide commented on #1062
@KeithJRome provided the correct way of doing this.

[2016-07-15 18:04] #1062 closed

[2016-07-15 21:08] simplicbe commented on #1019
Could not be reproduced. Please open a new issue if required.

[2016-07-15 21:08] #1019 closed

[2016-07-15 23:59] amiralles opened #1304 "Can't build ironruby on UNIX Systems"
Hi guys, I been trying to build ironruby using this command:

[code]

And got this error:
"...Builtins/RubyModule.cs(1767,21): error CS1570: Warning as Error"... blah, blah, blah....
(It's an xml error in the method's summary).

It fails on both, Mac and Linux (Ubuntu 14). On the mac I'm using mono v 4.2.1.
I already fixed it on a local branch, can I send a pull request with my changes or doesn't

[2016-07-16 00:35] slide commented on #1304
I would recommend doing all changes in the ironruby repo.

On Fri, Jul 15, 2016, 16:59 Ale Miralles <notifications@github.com> wrote:

[2016-07-16 01:25] slide commented on #273
We don't have these anymore.

[2016-07-16 01:25] #273 closed

[2016-07-16 01:46] #240 closed

[2016-07-16 23:45] amiralles commented on #1304
All right. I'll do that then.
Just another question: Now that you are splitting projects,  wouldn't be better for each project/repo to have its own build script?
i.e.  if I checkout ironruby I can build it without knowing anything about ironpython or ironlanguages at all.
I guess as of now, because of the dependencies, it cant' be done. How do you plan to handle that?

[2016-07-17 00:48] slide commented on #1304
The ironruby has its own build script, but it still has to depend on the
dlr somehow. Its currently pulling in a prerelease via nuget. We're going
to do a full release of the dlr somewhat soon and then the separate repos
can just depend on that.

On Sat, Jul 16, 2016, 16:45 Ale Miralles <notifications@github.com> wrote:

[2016-07-17 05:24] slide commented on #129
This is still an issue that needs to be resolved.

[2016-07-17 16:18] amiralles commented on #1304
That'll be great. Thanks.

[2016-07-18 09:51] TimHaydnJones commented on #1288
I think it was this one

https://github.com/balloob/pychromecast

[2016-07-18 21:58] slozier commented on #1081
Just marking this one as reported by me.

[2016-07-18 22:04] simplicbe commented on #299
@DinoV can you say something here?

[2016-07-18 22:06] simplicbe commented on #322
Seems to be solved.

[2016-07-18 22:06] #322 closed

[2016-07-19 01:46] slide commented on #377
This still exists. I looked at DictProxy.cs and there will be a method resolution issue if a this[CodeContext context, object key] is added and the current implementation can't be changed because it is required for IDictionary.

[2016-07-19 01:54] #370 closed

[2016-07-19 01:57] slide commented on #367
This one is still around in the latest.

[2016-07-19 04:21] #242 closed

[2016-07-19 04:22] #250 closed

[2016-07-19 14:01] #545 closed

[2016-07-19 14:06] #700 closed

[2016-07-19 14:09] #357 closed

[2016-07-19 14:10] #331 closed

[2016-07-19 14:12] simplicbe commented on #314
Seems to be solved.

[2016-07-19 14:16] simplicbe commented on #1225
@rmstoi are you able to fix this issue?

[2016-07-19 15:17] #1216 closed

[2016-07-19 15:34] #1196 closed

[2016-07-19 16:18] slide commented on #121
I'm not sure how to test and debug this one since I don't use that keyboard layout, but we should definitely look into this.

[2016-07-19 16:26] #243 closed

[2016-07-20 07:01] simplicbe commented on #445
Should be done with #1306

[2016-07-20 07:01] #445 closed

[2016-07-24 13:14] shyampundkar commented on #1303
Dear Slide, Could you please update regarding status of this issue?
I need to integrate latest version of ironpython in our application.

[2016-07-24 13:16] slide commented on #1303
I will look into a fix before the final IronPython 2.7.6

[2016-07-25 16:44] shrikantkaramkar opened #1307 "Script error: __init__() takes at least 6 arguments (5 given)"
I am using redirect_request.py to redirect multiple urls.
On executing this py I am getting following error:

[code]

I am using following mitm method to redirect:

[code]

`mitmproxy version: 0.17`
`OS: MAC OSX Yosemite 10.10.5`

[2016-07-25 17:32] shrikantkaramkar commented on #1307
I tried with passing 6 arguments, 7 arguments but still this error persists,

[2016-07-25 17:37] shrikantkaramkar commented on #1307
This is the init of HTTPResponse
[code]

copied from source code

[2016-07-26 11:41] rmstoi commented on #1225
@simplicbe It looks that the issue is in clr module. Importing python modules from the current working directory works fine under pdb.

Unfortuanatelly I'm not able to fix this issue: insufficent Windows programming skills.

[2016-07-27 13:46] hfoffani commented on #942
I was able to reproduce it with IronPython 2.7.6rc2 under Windows 10 Professional.

[code]

[2016-07-27 13:59] hfoffani commented on #793
Can this be see as a feature request?

by @hfoffani

[2016-07-27 14:59] hfoffani commented on #776
I was able to reproduced it with IronPython 2.7.6rc2 under Windows 10 Professional using .NET Framework 4.6.2

This test uses the csharp from Dino and the IPy code from JErasmus

Source:
[code]

Build and test with:

[code]

by @hfoffani

[2016-07-27 15:16] hfoffani commented on #776
The proposed workaround doesn't work because IronPython.Runtime.Operations.PythonOps.ClearDynamicStackFrames() is not available now.

by @hfoffani

[2016-07-28 13:27] slide commented on #1303
I ran this with just a normal console application and I didn't get an exception. Can you try the same to see if it is isolated to Silverlight? I don't have a Silverlight development environment.

[2016-07-28 13:34] slide commented on #188
This still shows "leaked" on master

[2016-07-28 13:36] shyampundkar commented on #1303
Hi Slide, yes its specific to silver light. We are successfully using 2.7.3 with silverlight. But now our team has got a request to upgrade iron python to latest version so I tried 2.7.5 and got this error. So do you mean that iron python do not support silver light anymore?

[2016-07-28 13:56] slide commented on #1303
We haven't tested Silverlight for some time, so I am not surprised that it isn't working. I will try and setup a Silverlight development environment to look into this. One thing to note is that 2.7.6 will not distribute Silverlight assemblies, so I am not sure you will really want to upgrade.

[2016-07-28 14:07] shyampundkar commented on #1303
Thank you so much Slide for looking into it! We are ready to upgrade to a version which supports silver light. So if you are planning to fix this issue in 2.7.5 we will upgrade to it.

[2016-07-28 14:24] slide commented on #1303
I was planning on fixing it before I determined it was isolated to
silverlight. As I mentioned, 2.7.6 will not distribute silverlight
assemblies, and silverlight will not be supported going forward unless
someone who is invested in needing silverlight support steps forward to
work on it.

On Thu, Jul 28, 2016, 07:07 shyampundkar <notifications@github.com> wrote:

[2016-07-28 16:30] markusschaber commented on #1214
The issue is still reproducible using 2.7.6 RC 2, when useing settrace.

[2016-07-28 17:27] slide commented on #1219
Can you provide more information to reproduce this issue?

[2016-07-28 17:34] slide commented on #1185
This is not something we can fix in IP2. In IP3 all strings are unicode, so there shouldn't be a problem.

[2016-07-28 17:34] #1185 closed

[2016-07-28 17:50] ShortCipher42 commented on #1219
What information do you seek?  This is a standard Office 2010 Disabled Items drop down targeting.

![image](https://cloud.githubusercontent.com/assets/11463460/17223353/2b567520-54ca-11e6-811d-05233ef506e7.png)

[2016-07-28 17:57] slide commented on #1219
Can you provide your project setup? I'm not familiar with the usage model you are using.

[2016-07-28 19:32] shyampundkar commented on #1303
If I understood correctly then this issue won't be fixed.

[2016-07-29 03:56] slide commented on #1303
I readded the silverlight assemblies to the installer for RC3 and fixed the issue. Fix will be in 2.7.6

[2016-07-29 03:56] #1303 closed

[2016-07-29 04:23] slide commented on #1089
Fixed in d26037

[2016-07-29 04:23] #1089 closed

[2016-07-29 04:28] shyampundkar commented on #1303
Thank you so much Slide! I am really grateful to you for your help!

[2016-07-29 04:40] #857 closed

[2016-07-29 05:06] slide commented on #1303
I'll release another RC soon, please test it when it is released.

[2016-07-29 05:26] slide commented on #1300
The reason this happens is because we don't have pyexpat implemented.

[2016-07-29 05:50] shyampundkar commented on #1303
Sure! I will test it when it is released and let you know how it goes. Thanks a lot Slide!

[2016-07-29 14:18] slide commented on #173
I assume a test case for this is just creating a database with /home/USERNAME/file.db or something?

[2016-07-29 14:22] slide commented on #196
According to https://ironpython.codeplex.com/workitem/34713 this is fixed in 2.7.5 final release. I just tested on latest of ipy-2.7-maint and it does not raise an exception.

[2016-07-29 14:22] #196 closed

[2016-07-29 22:00] slide commented on #197
This is a duplicate of #631

[2016-07-29 22:00] #197 closed

[2016-07-29 22:01] slide commented on #513
This issue is unclear

[2016-07-29 22:01] #513 closed

[2016-07-29 22:02] slide commented on #571
I think this is related to #631, the new filters are never added to the filters list in the _warnings module.

[2016-07-29 22:02] #571 closed

[2016-07-30 02:22] slide commented on #631
What seems to be happening here is that the assignment never makes it to the filters collection inside the C# implementation of _warnings. I'm still trying to determine why this is the case.

[2016-07-30 02:57] slide commented on #247
No information to reproduce this.

[2016-07-30 02:57] #247 closed

[2016-07-30 04:22] slide commented on #401
Not planning on this.

[2016-07-30 04:22] #401 closed

[2016-07-30 04:28] slide commented on #413
@DinoV any background on this one?

[2016-07-30 04:31] slide commented on #456
Please reopen if still desired.

[2016-07-30 04:31] #456 closed

[2016-07-30 17:23] l3m commented on #121
Shouldn't matter, the bug occurs if you just use US-International layout with a standard us keyboard...

[2016-07-30 18:46] slide commented on #121
I'll see what I can try out in a VM or something. What version of Windows?

[2016-07-30 18:48] l3m commented on #121
Win 7 (Enterprise).

[2016-07-31 06:48] markusschaber commented on #1185
Just a side note: while IronPython string handling is somehow closer to Python 3 than Python 2, it still will not be identical with IronPython 3. The reason is that .NET strings are UTF-16, while cPython 3 uses UTF-32, so adressing single codepoints by their index within the string will only work with BMP characters.

[2016-07-31 12:25] paweljasinski commented on #1185
@markusschaber shall we track this under PEP 393 in ironpython3? Or perhaps wiki to document it and collect relevant .net consequences. I believe .net regexp is also difficult to use, once we are out of BMP.

[2016-07-31 15:20] simplicbe commented on #1307
@shrikantkaramkar how do you have installed the `mitmproxy` module? Using `ipy -X:Frames -m pip install mitmproxy`?

[2016-07-31 15:36] shrikantkaramkar commented on #1307
steps:
1. Downloded the zip from github
2. installed using python setup.py install
3. Came across few library issues and resolved them.

Let me if there is better way to install latest versions and upgrade mitmproxy.

Thanks
Shrikant

[2016-07-31 15:38] simplicbe commented on #1307
@shrikantkaramkar I currently try to install it using `ipy -X:Frames -m pip install mitmproxy` but some errors occurse. I try to solve them, cause this should be the way to install the module. But I'll also try to reproduce it the way you have installed the module. Thanks for your quick answer.

[2016-07-31 15:52] simplicbe commented on #1081
@slozier the problem seems to be in `fileno()` which always returns -1.

[2016-07-31 16:51] shrikantkaramkar commented on #1307
ipy -X:Frames -m pip install mitmproxy

You run above command after downloading the code from github.

Sent from my iPhone

[2016-07-31 23:31] paweljasinski commented on #1081
@slozier can you try open instead of io.open?

[2016-08-01 00:17] slozier commented on #1081
@paweljasinski open works fine.

I guess the issue should probably be that when using io.open the fileno method doesn't return a usable file descriptor.

[2016-08-01 08:34] simplicbe commented on #1081
Yes, `io.fileno` can't work, because no file which will be opened are registered in the `PythonFileManager`. An there are more things missing.

As an additional information:

[code]

Can't work on windows machine anyway, because the size `0` is not allowed.

[2016-08-01 10:53] shyampundkar commented on #1303
Could you please let me know when will 2.7.6 be released?

[2016-08-01 12:56] slozier commented on #1081
Using 0 as the length argument means use the size of the file.

[2016-08-01 12:57] slide commented on #1303
Final is end of next week.

On Mon, Aug 1, 2016, 03:53 shyampundkar <notifications@github.com> wrote:

[2016-08-01 12:57] simplicbe commented on #1081
Than there is something wrong in the implementation of `mmap` in `mmap.cs`

[2016-08-01 14:02] slozier commented on #1081
Yes, there appears to be something wrong with the implementation of `mmap`. The length of the map is too big when using `0` as the length argument. The following sample outputs 4096 (where test1081.py is the sample):

[code]

Edit: the length issue above is fixed with #1519

[2016-08-01 18:47] slide commented on #1301
This seems to be an error in the way that the pythonapi is being loaded on non-Windows systems. May need to bypass this for sys.platform == 'cli'

[2016-08-01 18:54] slide commented on #1297
On *NIX you should use the makefile to build Mono. There is still an error with IPv6Only, but the other errors are not there.

[2016-08-01 20:12] slide commented on #1290
We're trying to triage issues, was this ever resolved?

[2016-08-01 20:13] slide commented on #1289
It looks like this was resolved, is that correct?

[2016-08-01 20:28] slide commented on #1288
It looks like this is related to the following:

https://github.com/google/protobuf/blob/master/python/google/protobuf/internal/python_message.py#L58

It's trying to import from the six package, and then if that fails it tries to use copy_reg as copyreg. I don't know why they are doing this, or if it is correct.

[2016-08-01 20:28] slide commented on #1296
@markusschaber You mentioned you guys use tracing in your stuff, can you take a look at this?

[2016-08-01 20:39] swn1 commented on #1290
I am not aware of any resolution.

On Mon, Aug 1, 2016 at 3:12 PM, Alex Earl <notifications@github.com> wrote:

[2016-08-01 20:40] simplicbe commented on #264
Not implemented yet with 2.7.6

[2016-08-01 20:41] swn1 commented on #1289
I have been working on other tasks and was hoping to return to the
IronPython integration, including the Jupyter client library port, this
month.  I believe that with the tips given it will prove to be an operator
error situation but I can't confirm that as of today.

On Mon, Aug 1, 2016 at 3:13 PM, Alex Earl <notifications@github.com> wrote:

[2016-08-01 20:45] simplicbe commented on #1045
@markusschaber do you have any further knowledge her? I close that until we have more information or some thing similar occurse.

[2016-08-01 20:45] #1045 closed

[2016-08-01 20:46] simplicbe commented on #1222
@markusschaber I removed the untriaged label. Would you like to take a closer took at this?

[2016-08-01 20:51] simplicbe commented on #1114
If someone needs this, please open a new issue and give some more information.

[2016-08-01 20:51] #1114 closed

[2016-08-01 20:53] simplicbe commented on #1115
Please reopen if required.

[2016-08-01 20:53] #1115 closed

[2016-08-01 20:54] simplicbe commented on #1035
Not enough information.

[2016-08-01 20:54] #1035 closed

[2016-08-01 20:57] #1026 closed

[2016-08-01 20:58] simplicbe commented on #1013
Wrong repository

[2016-08-01 20:58] #1013 closed

[2016-08-01 21:01] #977 closed

[2016-08-01 21:02] simplicbe commented on #960
Test script:

[code]

[2016-08-01 21:14] paweljasinski commented on #1122
i think it is clear what is broken and it is still broken

[2016-08-01 21:20] slide commented on #1204
IronClad is currently not supported.

[2016-08-01 21:20] #1204 closed

[2016-08-01 21:53] slozier commented on #587
@slide not getting an exception on this one so I assume it's been fixed

[2016-08-01 21:57] #587 closed

[2016-08-01 23:36] slide commented on #411
This passes on latest.

[2016-08-01 23:36] #411 closed

[2016-08-02 05:09] thimolangbehn commented on #1290
Here is a minimal example which reproduces the problem on 2.7.5:

[code]

[2016-08-02 07:34] simplicbe commented on #264
Ok, as far as i can see someone started implementing getprofile:

[code]

[2016-08-02 09:09] hfoffani commented on #957
Although I don't know if it's the same as Dino's, an exception is also thrown in IronPython 2.7.6rc2 on .NET 4.0.30319.42000 (32-bit):

[code]

Steps to reproduce it:

[test957.zip](https://github.com/IronLanguages/main/files/396213/test957.zip)

1. Unzip the attached file.
2. Edit the three files and fix the paths according to your IPY/.NET installation. They are the almost the same as reported b

[2016-08-02 12:53] slide commented on #1290
@thimolangbehn Thanks for the repro case. Will look into it.

[2016-08-02 13:55] #1290 closed

[2016-08-02 15:24] slide commented on #1282
No repro case.

[2016-08-02 15:24] #1282 closed

[2016-08-02 15:26] slide commented on #1172
Incomplete. Reopen with more information.

[2016-08-02 15:26] #1172 closed

[2016-08-02 20:47] slide commented on #254
This has already been implemented.

[2016-08-02 20:47] #254 closed

[2016-08-04 03:17] #623 closed

[2016-08-04 03:17] #628 closed

[2016-08-04 03:36] slide commented on #632
This now works the same as CPython.

[code]

[2016-08-04 03:36] #632 closed

[2016-08-04 13:30] slide commented on #528
This generates a RunTime error on CPython.

[2016-08-04 13:36] #272 closed

[2016-08-04 21:29] slide commented on #259
This is because the terminal is setup as dumb (TERM=dumb) in the code. With this setting, the readline module doesn't do any paging.

[2016-08-04 21:30] #298 closed

[2016-08-05 02:31] #270 closed

[2016-08-05 02:53] slide commented on #1085
Visual Studio 2015 at least has the capability the first time the exception comes up to disable showing more of that exception (there is a checkbox in the popup).

[2016-08-05 11:51] #1085 closed

[2016-08-05 14:04] #910 closed

[2016-08-05 14:05] simplicbe commented on #893
Can't be reproduced, using this a lot.

[2016-08-05 14:05] #893 closed

[2016-08-05 14:07] #882 closed

[2016-08-05 14:11] #1069 closed

[2016-08-06 19:50] #450 closed

[2016-08-08 15:44] slide commented on #302
We still have some of these methods, but the only one I think we should look at removing is __radd__, the others are on the unicode type and all strings in IP are unicode, so I think this is fine.

[2016-08-08 15:45] slide commented on #303
This file doesn't even exist.

[2016-08-08 15:45] #303 closed

[2016-08-08 15:47] slide commented on #300
We're closer now, but there are two tracebacks printed.

[code]

[2016-08-08 15:48] slide commented on #297
This is no longer an issue.

[2016-08-08 15:48] #297 closed

[2016-08-08 15:50] slide commented on #304
This is still an issue in the latest.

[2016-08-08 16:55] shyampundkar opened #1315 "Security clearance document"
Dear iron Python team,
We are using iron Python 2.7.3. Do you have any document stating that iron python is tested for security flaws? We need it to obtain security clearance from our application risk team. Any document stating iron python 2.7.3 has been checked for security flaws and it's safe to use it would do.
Thanks
Shyam

[2016-08-08 17:25] swn1 opened #1316 "Creating a folder on sys.path fails"
Here's what seems to be happening ... I put the name of a non-existent folder on sys.path, attempt to load a module, catch the failure, create the folder and install the module to it, then re-attempt the import.  It fails.  On a subsequent pass through the same script, the first import attempt succeeds: the installation steps succeeded, just the retry of import failed.

It seems some layer is cach

[2016-08-08 17:32] swn1 commented on #1316
My hosting application injects the following in between setting the interp.SetSerathPaths to the installed standard library and running the user code:
`            // Add location of pip install --user foo packages to path
            var trampoline = @"
import site
import sys
if site.getusersitepackages() not in sys.path:
    sys.path.append(site.getusersitepackages())";`

[2016-08-08 17:33] slide commented on #1315
Please use the mailing list for questions.

[2016-08-08 17:33] #1315 closed

[2016-08-08 19:18] swn1 commented on #1316
Workaround works.  New hosting discipline is
- create initial path list and pass it to the interpreter's SetSearchPaths method
- evaluate "__import('site')__.getusersitepackages()" for string result
- call System.IO.Directory.CreateDirectory with the result
- add the result to the path list (which is bound, not copied, so the interpreter sees it)

[2016-08-08 22:53] #1270 closed

[2016-08-09 05:44] #251 closed

[2016-08-09 16:48] swn1 commented on #1316
I said "first time the user tries any given package" -- actually it's just the first time using the script, once ensurepip has succeeded subsequent runs succeed, regardless of whether or not the requested module is installed.

I had a a line of code in there `del sys.modules[pkg]` thinking maybe it was caching the failure at that level.  The line turned out to be unnecessary and it was causing a s

[2016-08-09 19:21] #1202 closed

[2016-08-09 21:21] #1183 closed

[2016-08-09 21:22] slide commented on #1177
@paweljasinski Any updates on this one? Can you remove the "untriaged" label once you've looked and determined what needs to be done?

[2016-08-10 02:30] slide commented on #1086
If you set the environment variable TERM=dumb in your application, this shouldn't happen. This is what the IronPython Console does.

[2016-08-10 02:30] #1086 closed

[2016-08-10 02:31] slide commented on #1080
Can you provide the database that is causing an issue?

[2016-08-10 02:32] #1074 closed

[2016-08-10 06:40] simplicbe commented on #887
Not reproduceable with the description.

[2016-08-10 06:40] #887 closed

[2016-08-10 06:41] #873 closed

[2016-08-10 07:04] simplicbe commented on #847
This is still a problem.

[2016-08-10 07:05] #826 closed

[2016-08-10 07:08] simplicbe commented on #800
Is still existing.

[2016-08-10 07:09] simplicbe commented on #775
Is still existing.

[2016-08-10 07:19] #730 closed

[2016-08-10 11:49] slide commented on #1030
This still exists

[2016-08-10 12:04] #1020 closed

[2016-08-10 12:06] #1105 closed

[2016-08-10 12:07] #1016 closed

[2016-08-10 12:07] #1018 closed

[2016-08-10 12:23] #903 closed

[2016-08-10 15:30] slide commented on #1182
Do you just set the output mode for the assembly to 64bit?

[2016-08-10 15:40] #855 closed

[2016-08-10 15:41] slide commented on #828
No reproduction

[2016-08-10 15:41] #828 closed

[2016-08-10 15:42] #818 closed

[2016-08-10 15:44] #773 closed

[2016-08-10 16:19] #718 closed

[2016-08-10 16:19] #717 closed

[2016-08-10 16:24] slide commented on #806
Duplicate of #671

[2016-08-10 16:24] #806 closed

[2016-08-10 16:55] slide commented on #570
System.ValueType should not be inheritable. I am pushing a fix for this. C# doesn't allow inheriting from it.

[2016-08-10 16:55] #570 closed

[2016-08-10 19:30] #878 closed

[2016-08-10 20:03] slide commented on #787
This is how it is now.

[2016-08-10 20:03] #787 closed

[2016-08-10 20:19] #775 closed

[2016-08-10 20:54] #1092 closed

[2016-08-10 21:17] slide commented on #780
Can't reproduce

[2016-08-10 21:17] #780 closed

[2016-08-10 21:18] #498 closed

[2016-08-10 21:31] slide commented on #470
I don't get errors from PEVerify with the test_uuid.py anymore.

[2016-08-10 21:31] #470 closed

[2016-08-10 22:18] slide commented on #1260
This is fixed in my addition of "invalid platforms" for modules.

[2016-08-10 22:18] #1260 closed

[2016-08-10 22:39] slide commented on #510
Don't have test_nt.py

[2016-08-10 22:39] #510 closed

[2016-08-11 00:16] #1215 closed

[2016-08-11 00:19] slide commented on #1203
This code:

[code]

Gives me the same error on CPython 2.7
[code]

[2016-08-11 09:37] simplicbe commented on #1234
Related to #1232 and will be solved there.

[2016-08-11 09:37] #1234 closed

[2016-08-11 16:00] slide commented on #1225
This is odd since the pdb module does this:

[code]

[2016-08-12 06:21] kunom commented on #1300
To be a bit more detailed: The ElementTree implementation was patched to use _xmllib_ instead of _pyexpat_ as underlying XML parser. _xmllib_ has been deprecated with Python2.0, but it is a pure Python implementation, which makes integration into IronPython much easier.

See also the checkin comment of commit cb73948dbdfea63592edea8234ab840e5db2b2b6.

[2016-08-15 09:14] simplicbe commented on #1108
See also: #1039

[2016-08-15 11:05] simplicbe commented on #1108
@paweljasinski any news or permanent fix for this issue? Is the required amount of work for that issue a lot?

[2016-08-15 13:07] #276 closed

[2016-08-15 13:38] slide commented on #351
Duplicate of #244

[2016-08-15 13:38] #351 closed

[2016-08-15 13:55] #324 closed

[2016-08-15 15:20] paweljasinski commented on #1108
On the second iteration, what I see here is a unicode which should be converted to unicode, so this could be detected by ironpython and handled without a problem.

[2016-08-15 16:13] #991 closed

[2016-08-15 18:55] kunom commented on #1108
At `StringOps.__new__(CodeContext, PythonType, string @string)`, there is a check whether the string given is pure ASCII (no character larger than 0x80, see _StringOps.CheckAsciiString_) or not. If this is the case, `StringOps.__new__(CodeContext, PythonType, object @string, string encoding, string errors)` is called, that tries to interpret the delivered string as byte array and to decode it acco

[2016-08-15 19:38] slozier opened #1327 "Failing tests"
When running `make test` the following tests are failing:
- [ ] regressions_20 (release only)
- [ ] test_function_20
- [x] test_exceptions_20
- [x] test_cliclass_20
- [x] test_interactive_hosting_20
- [x] test_compiler_20
- [x] test_slice_20
- [x] test_file_20
- [x] test_complex_20

Also the following either gets stuck on something or is very slow to complete:
- [x] test_ipye_20

[2016-08-15 20:14] paweljasinski commented on #1108
sorry, I have a tendency to trivialize problems. @kunom can you share with us a PR or patch for what you propose?

[2016-08-15 20:17] paweljasinski commented on #1108
just for reference:
[code]
which appears to be consistent with what we experience in ironpython

[2016-08-15 20:29] slide commented on #1288
If I open an ipy console and try and import copyreg, I get

[code]

Do you have the Python 3.x stdlib in your path for ipy?

[2016-08-15 20:31] slide commented on #1291
I don't think we will be able to support a pure .NET 2.0 version of IronPython. Older source releases are available on CodePlex (https://ironpython.codeplex.com) if you want to try to continue to use 2.6.x

[2016-08-15 20:31] #1291 closed

[2016-08-15 20:41] slide commented on #1295
Do you have a proposed solution to the problem?

[2016-08-15 21:09] HinTak commented on #1291
Fairly enough - perhaps I was asking for Configuration="v2Release better documented, or even withdrawn (i.e. called it "v35Release").

[2016-08-15 21:15] HinTak commented on #1291
I _am_ continuing to use 2.6.x , in one of my branches:

https://github.com/HinTak/Font-Validator/commit/0a188ce6c1a7a2c1e8e8dcc491052702cc5dd951

[2016-08-16 06:26] lafrank opened #1329 "NullReferenceException in PythonContext.cs"
I am working on a c# application that provides Python script debugging capabilities. To achieve this functionality I set a traceback handler with Engine.SetTrace(MyTracebackHandler).
My code works correctly with version 2.7.5, however it crashes with release 2.7.6 due to a NullReferenceExeption occurring in PythonContext at the below location:
[code]
The problem is that  the first debug session wo

[2016-08-16 06:46] jpmaterial commented on #1295
Extend ssl.wrap_socket() / ssl.SSLSocket / _ssl.wrap_socket() such that certificates and keys from the Windows Certificate Store can be used. This seems to required anyways further down the road.

[2016-08-16 06:48] lafrank commented on #1329
What I see, is that the _tracebackListeners.Value stack is instantiated at the call to EnsureDebugContext() from inside PythonContext constructor. As I can't see any other assignments, I wonder how and why it gets nulled ? Or perhaps has it never been instantiated ? Can't figure out...

[2016-08-16 06:49] simplicbe commented on #1236
@jussimalinen can you provide a fix for this?

[2016-08-16 06:55] simplicbe commented on #1329
@lafrank are you able to set a breakpoint to the `Value`-Setter and where `trancebackListener` is instanciated? Maybe you could go down the stacktrace (IP code) and see what happens there.

[2016-08-16 07:12] kunom commented on #1108
But it also could be
[code]

As strings are unicode in IronPython, I still think that `str(...)` should not silently byte-encode things. And I think that the `CheckAsciiString` heuristics does not hold in many cases.

If you `grep "str(" . -r` the IronPython folder, most uses of str(...) are to stringify things that optionally might be a number or a non-string type. My impression is that the const

[2016-08-16 07:14] simplicbe commented on #1108
@kunom thank you for creating a pull request! But why waiting for CI?

[2016-08-16 07:14] kunom commented on #968
See also #393.

[2016-08-16 07:15] kunom commented on #1300
See also #393.

[2016-08-16 07:26] kunom commented on #1108
@simplicbe As the test suite does not pass without errors at the moment, and also because it takes a very long time to run, it is a lot of work to detect regressions. CI would help that. (And, but that is another point, it also would have a positive influence on the test suite.)

[2016-08-16 08:32] paweljasinski commented on #1108
@kunon, I checked the code, what you propose makes perfect sense.

[2016-08-16 09:14] lafrank commented on #1329
Not easily, as _tracebackListenmers is the type of ```Microsoft.Scripting.Utils.ThreadLocal<Stack<PythonTracebackListener>>``` . I'll need check how to fin the source, I guess it is in DLR.
I'll try to create a simple and small example to reproduce the issue.

[2016-08-16 13:52] kunom commented on #1108
See also #908.

[2016-08-17 12:13] kunom commented on #1299
This boils down to
[code]

[2016-08-17 12:44] slide commented on #1299
Correct, it's doing a reference comparison...this issue exists in other places too.

[2016-08-18 15:17] paweljasinski opened #1335 "issues reported by PVS"
http://www.viva64.com/en/examples/ search for ironpython

[2016-08-18 21:07] slozier opened #1338 "Issue with Ast"
The following C# program is failing:
[code]
It broke in this commit: 247e6dbffba4898434ad95c5341552575fb2476a

It's failing with a `NullReferenceException` at:
https://github.com/IronLanguages/main/blob/ipy-2.7-maint/Languages/IronPython/IronPython/Compiler/Ast/Node.cs#L203

[2016-08-18 21:24] simplicbe commented on #1338
Ok, the assert call is failing...

[2016-08-19 18:24] slozier opened #1343 "Issue with Overloads causing test_cliclass_20 to fail"
test_cliclass_20 started failing with IronLanguages/main/pull/1265. In particular, to reproduce:
[code]
This is raising a `TypeError` exception where as before it succeeded.
[code]

I'm not sure if raising here is the correct behaviour. Shouldn't the `CodeContext` parameter be excluded?

@simplicbe since this is your PR can you take a look?

[2016-08-20 16:26] simplicbe commented on #1343
Problem is solved, pull requests is on its way

[2016-08-20 16:26] #1343 closed

[2016-08-21 04:38] slide commented on #1194
The version number for 2.7.6.3 should be 1.1.1.21 for the DLR.

[2016-08-21 04:38] #1194 closed

[2016-08-21 09:43] ishisaka opened #1346 "When IPY.EXE starts, IPY.EXE crashes."
When IPY.EXE starts, IPY.EXE crashes.

IPY.EXE Version 2.7.6.3
Windows 10 Version 1607(Build 14393.51)
.NET Frame Work Version 4.6.2

Exception:
[code]

[2016-08-21 10:27] andygraham commented on #1346
I commented on this on Gitter. ishisaka beat me to logging it as an issue!

I'm on Windows 764bit Home with .NET 4.6.2.

Unhandled Exception: System.Configuration.ConfigurationErrorsException: An error
 occurred creating the configuration section handler for microsoft.scripting: Co
uld not load file or assembly 'Microsoft.Scripting, Version=1.1.0.20, Culture=ne
utral, PublicKeyToken=7f709c5b713576

[2016-08-21 10:59] slozier commented on #1346
Look like the config file are still pointing to `Microsoft.Scripting, Version=1.1.0.20` hence the crash. As a workaround until the release if fixed you can edit the ipy.exe.config file and replace `1.1.0.20` with `1.1.1.21`.

[2016-08-21 13:05] slide commented on #1346
Fixed in 4cb8abc

[2016-08-21 13:05] #1346 closed

[2016-08-21 14:24] slide commented on #1335
I already took care of this, they opened an issue.

[2016-08-21 14:24] #1335 closed

[2016-08-21 14:35] slide commented on #387
This warning no longer occurs on CPython 2.7

[2016-08-21 14:35] #387 closed

[2016-08-21 14:37] slide commented on #380
The warning no longer occurs on CPython 2.7

[2016-08-21 14:37] #380 closed

[2016-08-21 15:12] slozier commented on #1335
@slide There are a number of other issues listed on the site.

[2016-08-21 15:25] slide commented on #1335
Some of the issues affect IronRuby and others were not actually pertinent. We're there specific ones that you saw?

[2016-08-21 15:57] slozier commented on #1335
V3001 was one I happened to look at and which is still there so I assumed there might be other ones. But I didn't look at it in details...

https://github.com/IronLanguages/main/blob/4cb8abc569d98ddadd2d67573c2dbd7dcc39b548/Languages/IronPython/IronPython/Runtime/Operations/ObjectOps.cs#L456

[2016-08-21 21:54] slide commented on #1335
This is where I made the changes. fdd036

[2016-08-21 22:48] slide commented on #1335
See #1270

The one mentioned above is the only one I missed. The others I didn't think applied because they were in the parser, which usually contains a little "wackiness"

[2016-08-22 15:59] slozier opened #1349 "Silverlight Tools and Scripts features appear under Platforms in MSI installer"
`Silverlight Tools` and `Scripts` features appear under `Platforms` in MSI installer. They should be below `Platforms` instead.

[2016-08-23 12:14] slide commented on #275
CreateOptimizedModule doesn't exist

[2016-08-23 12:14] #275 closed

[2016-08-23 13:36] #280 closed

[2016-08-23 14:38] slozier opened #1351 "bound method equality not working properly"
Running the following script gives incorrect results: [test_method.txt](https://github.com/IronLanguages/main/files/432671/test_method.txt)

While it wasn't working perfectly with 2.7.5, it's still better than the 2.7.6 behavior. The breaking commit is c5c192bc4c5c136da639017be83be00f94f5958f. See results below:

With CPython 2.7.12:

[code]

With IronPython 2.7.5:

[code]

With IronPython 2.7.6:

[2016-08-23 21:47] #1351 closed, assigned to nobody

[2016-08-23 22:55] #1327 closed

[2016-08-24 01:55] #287 closed

[2016-08-24 02:22] #300 closed

[2016-08-24 03:19] slide commented on #353
This is expected because none of the IronPython changes to the stdlib would be present.

[2016-08-24 03:19] #353 closed

[2016-08-24 03:25] slide commented on #354
We behave similarly enough to cpython now.

[2016-08-24 03:25] #354 closed

[2016-08-24 11:26] markusschaber opened #1353 "Version numbers of NuGet Packages do not match"
The NuGet Package for 2.7.6.final3 references the DRL 1.1.0 package, but the assemblies reference the 1.1.1.21 version.

[2016-08-24 13:50] hfoffani commented on #1005
I was able to reproduced in 2.7.6.3:

[code]

Same thing with ipy64.exe

Report by @hfoffani

[2016-08-24 14:57] petsuter opened #1354 "Regression in 2.7.6: HTTPSConnection doesn't work! (AttributeError: 'module' object has no attribute '_create_default_https_context')"
This worked in 2.7.5:

[code]

But is broken in 2.7.6.3:

[code]

Looks like the `httplib` module was upgraded (in changeset 80282b39ca5d93e733745b64bae2a67c73e228c9?) but the `ssl` module still does not know about `SSLContext`.

[2016-08-24 15:01] dxtodorovic opened #1355 "Can't use pip with newest version of IronPython (2.7.6.3)"
IronPython 2.7.6.3 fails to connect to [pypi.python.org](pypi.python.org). Using:

`ipy.exe -X:Frames -m pip install <package>` throws:

[code]

I have .NET Framework 4.5 as well as TLS 1.0, TLS 1.1 and TLS 1.2 versions installed on
this machine. IronPython 2.7.3 had no problems with using `pip` before.

I see several related issues with status **closed** mentioning similar problem:
#1221
#1241

H

[2016-08-24 15:04] hfoffani commented on #1064
I was able to reproduce it using IPY 2.7.6.3 version.
I have attached a zip file with the code to build the code provided by the OP.
[test1064.zip](https://github.com/IronLanguages/main/files/434991/test1064.zip)

Reported by @hfoffani

[2016-08-24 15:07] slide commented on #1355
@rassilon Did I mess up your fixes when I merged the 2.7.12 stdlib?

[2016-08-24 15:25] slide commented on #1354
This is most likely because of an upgrade to the Python stdlib.

[2016-08-24 23:52] #1349 closed, assigned to slide

[2016-08-24 23:54] slide commented on #1354
I'm working on this, will hopefully have a fix soon.

[2016-08-25 06:18] lafrank opened #1356 "StackOverflowException while iterating dynamic members"
In my effort to do some reflection like parsing of dynamic objects, I wrote the below method:

[code]

This code actually works perfectly most of the time. But there are certain cases when I encounter a StackOverflowException as soon as executing foreach statement, so I guess there is an issue with the underlying iterator.
Stack seems to fill up with repeating calls in IronPython.Rutime as shown b

[2016-08-25 09:42] hfoffani commented on #776
Same behavior in 2.7.6.3 under windows 8.1
As gist:
https://gist.github.com/hfoffani/509d7ceaf3d49d143bec1695979ae345

[2016-08-25 09:48] hfoffani commented on #942
Same in 2.7.6.3

[code]

[2016-08-25 09:54] hfoffani commented on #1064
As gist:
https://gist.github.com/hfoffani/48227a39971e91e427e77caa1e322c3d

[2016-08-25 14:38] hfoffani opened #1357 "CompileModules fails on platform.py"
Version of IronPython 2.7.6.3 clr.CompileModules fails to compile platform.py

[code]

As far as I can remember it didn't happen with IronPython 2.7.6r2.

[2016-08-25 15:27] hfoffani commented on #957
The same exception is thrown with IronPython 2.7.6.3
However `platform.py` should be excluded because it fails to compile ( see #1357 )
The file to reproduce this for 2.7.6.3 are in gist:
https://gist.github.com/hfoffani/95ec70063e8cc026df60976bcd48c27a

[2016-08-25 18:44] slozier commented on #595
This one still doesn't work.

[2016-08-26 08:48] markusschaber commented on #595
The code seems to be there in the parser, in LiteralParser.cs, with a conditional compilation on `#if FEATURE_COMPRESSION`.
The feature seems to be defined on the builds for .NET 2, .NET 4, .NET 4.5 and Android, but not on other build targets.

[2016-08-26 09:23] markusschaber commented on #595
When trying it, I get null reference exceptions, so it behaves differently than originally.
After issuing an `import unicodedata`, it works fine.
So I guess the literal parser ought to make sure the unicode module is loaded in the right moment.

[2016-08-26 09:38] markusschaber commented on #595
A single line fix in literalparser.cs, line 118:

[code]

[2016-08-26 20:14] #595 closed

[2016-08-30 19:43] stephenjturner opened #1362 "VS Debugger and SetTrace"
Getting breakpoints hit in VisualStudio is pretty straightforward when implementing an application with IronPython embedded in C#. You create the ScriptEngine with the debug option set, use enine.CreateScriptSourceFromFile, create and populate your ScriptScope then call source.Execute(scope). The only real "trick"is to disable "Just My Code" in the debug settings...other than that, if the file you

[2016-08-30 21:25] #1299 closed

[2016-08-31 06:51] kunom commented on #1212
With the current master:

[code]

[2016-09-01 18:24] thimolangbehn opened #1364 "Include Program-Data-Base (PDB) files in binary Releases"
PDB files contain debug information for the DLLs. Withouth them, traces parts of the DLLs can not be named. This make Debugging harder for Applications that use IronPython.

[2016-09-01 19:11] slozier opened #1365 "."

[2016-09-01 19:12] #1365 closed, assigned to nobody

[2016-09-01 19:26] slozier opened #1366 "Conditional testing for .NET Core / Platform"
The test system needs to be able to skip some tests (e.g. winforms) on .NET Core. The way it skips tests is esentially by looking at the `sys.platform` (e.g. `skiptest("win32")` will skip the test when running on CPython).

The value of `sys.platform` is `cli` for IronPython and `silverlight` for Silverlight. Should we introduce a new platform for .NET Core (e.g. `netstandard` or `cli-netstandard`

[2016-09-01 21:20] moto-timo commented on #1366
I always thought `sys.platform` is `cli` for IronPython was an odd choice. If we mean .NET Core, I kind of like calling it `netcore` or `net-core`. But `cli-netstandard` or `cli-net-core` might be more in keeping with the existing code base. I'm fine with `netstandard` as well. Just my $0.02

[2016-09-01 23:08] #1212 closed

[2016-09-02 03:38] jdhardy commented on #1366
CPython/PyPy set `sys.platform == 'win32'` and `os.name == 'nt'`.

Jython sets `sys.platform == 'win32'` and `os.name == 'java'`.

IronPython sets `sys.platform == 'cli'` and `os.name == 'nt'`.

Python 3 also adds `sys.implementation`.

I'd suggest leaving it as 'cli' and adding a value to the clr module for
the actual underlying implementation (.NET, Mono, .NET Core), version, and
possibly the .N

[2016-09-02 03:40] jdhardy commented on #1364
PDBs are quite large to include everywhere, but an extra package or
inclusion on http://www.symbolsource.org/ would be useful.

On Thu, Sep 1, 2016 at 11:24 AM, Thimo Langbehn notifications@github.com
wrote:

[2016-09-02 04:22] moto-timo commented on #1366
Thank you for enlightening us, Jeff. This is now ringing a bell because of RobotFramework (tested on multiple flavors of Python), but I obviously forgot.

[2016-09-03 09:12] ita1024 opened #1370 "Inspect.getsource hangs"
Both ipy.exe and ipy64.exe hang with IronPython 2.7.6.3 on windows 10/.Net 4.0.30319.42000 with the following file. While this happens, the ironpython process consumes a lot of CPU:

[code]

(running the same code under the interactive console raises an error as expected)

[2016-09-03 23:35] #1370 closed, assigned to nobody

[2016-09-04 09:20] ita1024 opened #1374 "__slots__ should not have an effect if it is missing in any of the base classes"
The Consumer thread in the following snippet will raise an exception: `'Consumer' object has no attribute '_Verbose_verbose'`:

[code]

After commenting the `__slots__` assignment, the execution will display 'processing task' as expected.

[2016-09-04 10:49] kunom commented on #1374
Most probably, the title should be "`__slots__` should not have an effect if it is missing in any of the base classes".

Excerpt from the Python documentation:

[2016-09-04 11:29] ita1024 commented on #1374
I thought it would be worth reporting this behavior. When is the next release going to be made by the way?

[2016-09-06 08:40] takashioomoto commented on #1269
I ran into this same bug (W7, 64-bit, VS2013 Express, IronPython 2.7.6.3). Trigger on my use case seems to be if there are several sleep/wakeup requests made to the thread where IronPython is running. At some point `MetaGetBinderHelper` methods start being called instead of `FastGetBinderHelper`. This makes it hard to make it reproducible with a snippet.

I suggest finding a situation where IronPy

[2016-09-06 10:57] kunom commented on #1269
The point is that dynamic recompilation only kicks in after 100 invocations:

[code]

I am working on a reproduction script and am half-way through. See below. At the moment, I can reproduce the stack trace until _IronPython.Runtime.Binding.MetaUserObject/GetOrInvokeBinderHelper`1.Bind_.

[code]

[2016-09-06 12:12] takashioomoto commented on #1269
Thank you for the quick response!

I can't run the repro right now, so I'm not sure how much the following helps...
Target application uses Scapy lib, and this is part of base_classes.py:

[code]

inside the `__call__` method, attempting to solve `cls.__name__` will trigger this exception.

[2016-09-06 13:22] slozier opened #1375 "sys.settrace is no longer thread safe"
It appears that `sys.settrace` throws an exception when called from multiple threads. Looks like it broke in #1250.

Here's my analysis. The important part if that `_tracebackListeners` is a `ThreadLocal` so that `Value` is different on each thread:
1. (Thread 1) calls sys.settrace(something)
2. (Thread 1) `sys.settrace` calls `EnsureDebugContext` on the `PythonContext`
3. (Thread 1) initializes `

[2016-09-06 17:43] slozier opened #1377 "regressions_20 test failing when running make test against release"
The `regressions_20` test is failing when running `make test` with `DLR_BIN` set to `bin\Release`. This is because `Test\test-ipy-tc.cmd` is building `Test\ClrAssembly\ClrAssembly.csproj` in Debug mode so the assemblies aren't generated in the `bin\Release` folder.

[2016-09-07 08:10] shiwee opened #1379 "2.7.6.3 get crash on my windows7 computer while working with eclipse"
I tried ipy.exe and ipy64.exe as interpreter, both crash, while the previous ironpython(2.7.5) works.

the eclipse version:
Version: Neon Release (4.6.0)
Build id: 20160613-1800

other information:
Faulting application name: ipy.exe, version: 2.7.6.1003, time stamp: 0x57b9a8dd
Faulting module name: clr.dll, version: 4.6.1076.0, time stamp: 0x56d7a0ff
Exception code: 0xc00000fd
Fault offset: 0x0001

[2016-09-07 08:11] simplicbe commented on #1379
Are you just starting ipy.exe or do you execute any scripts etc?

[2016-09-07 08:12] markusschaber commented on #1379
"NativeImages" looks like the IronPython assembly might be precompiled using ngen.exe. Is that true? Could you try to disable ngen.exe for IronPython?

[2016-09-07 08:56] takashioomoto commented on #1269
All right, here is a working reproduction script, let me know if this works for you:

[code]

edit: fixed getattr to a sensible result (even if it never gets to be called)

[2016-09-07 08:56] shiwee commented on #1379
@simplicbe the ipy.exe was invoked by eclipse I think. once I configured the interpreter, a dialog popup repeatedly.

[2016-09-07 08:58] shiwee commented on #1379
@markusschaber  not pretty sure but I downloaded from https://github.com/IronLanguages/main/releases/tag/ipy-2.7.6.3

[2016-09-07 19:39] slozier opened #1381 "intern doesn't work with .NET Core"
The builtin `intern` method uses `String.Intern` which is not available as of `netstandard1.6`. I don't have a workaround so this method is simply excluded when compiling for .NET Core.

`String.Intern` appears to be tagged for the 1.2 milestone. See https://github.com/dotnet/corefx/issues/10216.

@terrajobst

[2016-09-07 20:25] kunom commented on #1269
@takashioomoto Thanks! That helped really a lot.

Reproduction is actually much easier than I thought:

[code]

For finalizing a PR, I am still a bit uncertain whether `PythonTypeSlot.GetAlwaysSucceeds` really should return true for `Meta.__getattr__`, or whether `MetaPythonType+MetaGetBinderHelper.AddMetaGetAttribute()` is incomplete with regard to finishing its 'ConditionalBuilder' instance. At

[2016-09-07 22:34] takashioomoto commented on #1269
But do we want the ConditionalBuilder to be successful? The way I see it `AddMetaGetAttribute()` needs to fail in this case, not finish - otherwise `__getattr__()` of the metaclass is used to find `__name__`, not the expected behavior.

If we could find a repro when the `__getattr__()` of the metaclass is really meant to return an attribute the situation would be different. But this isn't the case

[2016-09-08 09:43] chschmitt opened #1386 "ipy2.7.6.3 with mono on Ubuntu 12.04: error message about importing _sysconfigdata"
Running IronPython 2.7.6.3 with mono on Ubuntu 12.04. displays the following error:

[code]

I also checked IronPython 2.7.5, which starts normally.

[2016-09-08 11:00] chschmitt opened #1387 "Slicing a memoryview produces wrong results"
The slicing behaviour of `memoryview` objects is buggy. See the test case below (tested with 2.7.5 and 2.7.6.3). The memoryview may report a wrong length and/or return wrong data.

[code]

Results:

[code]

[2016-09-08 16:12] kunom commented on #1269
A ConditionalBilder is used to dynamically create AST structures in the form of `if (C1) then (A1) else if (C2) then (A2) else .... else (AElse)?`. Not finishing it means that AElse is not defined, which is obviously an issue for the uniformed reader.

The point is that the PythonTypeSlot for `__getattr__` declares itself as always being available. The code generation should therefore not issue "i

[2016-09-08 19:05] slide commented on #1386
I have a possible fix for this, I'll try it on my Linux box soon and see if it does work.

[2016-09-08 19:06] slide commented on #1377
Fixed with #1380

[2016-09-08 19:06] #1377 closed, assigned to nobody

[2016-09-08 19:07] slide commented on #1379
@markusschaber The installer will NGen the IronPython assemblies during the install.

@shiwee Can you provide some additional information on your setup? Are you using PyDev? How do you have it configured?

[2016-09-08 20:42] #1269 closed

[2016-09-08 21:43] slozier opened #1392 "FEATURE_ENCODING doesn't work on .NET Core"
FEATURE_ENCODING doesn't work on .NET Core due to a number of missing APIs:
- System.Text.Encoding.GetEncodings
- System.Text.EncodingInfo
- System.Text.Encoding.set_DecoderFallback(System.Text.DecoderFallback)
- System.Text.Encoding.set_EncoderFallback(System.Text.EncoderFallback)

It looks like they may be added in the 1.2 milestone: https://github.com/dotnet/corefx/issues/9583

We may be able t

[2016-09-08 22:00] moto-timo opened #1394 "Build with mono on Travis CI"
Now that we have AppVeyor running continuous integration on Windows, we should target `mono` builds on Travis CI.

[2016-09-08 22:17] slide commented on #1394
I also have some Azure time with my MSDN, so I may be able to spin up a Jenkins instance on that for mono builds. I'll look into it.

[2016-09-09 06:30] kunom commented on #1374
A somewhat minimal reproduction case:

[code]

Note: The code including the assignment to `self.b` does work if `B` directly derives from `object`.

[2016-09-09 14:40] kunom commented on #1387
Slicing in MemoryView is clearly broken with regard to negative index numbers. It is not clear why the implementation does not use the `Slice.indices()` method for proper range calculation.

The _test_memoryview_cpy_ and _test_bytes_cpy_ tests would also, based on a quick glance, cover these checks, but are currently disabled in the test suite because of they are failing...

[2016-09-09 19:57] slozier opened #1395 "socket.accept doesn't work properly with timeout != 0 on .NET Core"
`socket.accept` doesn't work properly with `timeout != 0` on .NET Core. This is because I haven't gotten around to figure out how to implement it using the `*Async` methods available in netstandard.

[2016-09-10 09:42] kunom commented on #1108
With 21a39f23f8e31307e5df3894f4f3db7d9dc07750, this issue can be closed now. (I do not have the rights to do so.)

[2016-09-10 09:59] #1374 closed, assigned to nobody

[2016-09-10 09:59] #1108 closed

[2016-09-10 16:40] kunom commented on #1187
I guess, this can now be closed as #1198 is merged.

[2016-09-10 16:46] kunom commented on #1356
This looks to me like a duplicate of #1100.

[2016-09-10 16:47] #1187 closed

[2016-09-10 16:54] rassilon commented on #1355
@slide, Hrm. Ok, the failure isn't due to the 2.7.12 stdlib merge, it appears that is probably due to not having SslContext and urllib3's ssl_.py's resolve_ssl_version which gives a useless answer for IronPython.

[2016-09-10 17:15] slide commented on #1355
Well some of those things are because of the upgrade of the stdlib. In the previous stdlib, those things weren't needed.

[2016-09-10 18:08] rassilon commented on #1355
@slide, I think this immediate problem would go away if we made a SslContext stub that was good enough for pip, but that might cause problems in other Python packages. Anything else would probably require a IronPython specific urllib3 patch that would need to be determined.

[2016-09-10 18:09] rassilon commented on #1355
Debugging it would probably just cause the exact problem to be fairly obvious I would imagine.

[2016-09-10 18:13] slide commented on #1355
I've been debugging it. I created a SslContext stub, but then there are problems importing stuff from the bundled pip whl file. I've fixed a couple of import issues, but still heading down the rabbit hole.

[2016-09-10 22:33] slozier opened #1398 "Type and PythonType comparison not behaving properly on .NET Core"
Perhaps someone has an idea why the following doesn't work on .NET Core?

[code]

First assert passes and the second one fails. It looks like `InstanceOps.NotEqualsMethod` is called on .NET Core but not on the full framework? I haven't figured out which method should actually get called...

[2016-09-11 14:25] slozier opened #1399 "System.InvalidOperationException not caught as a SystemError"
`System.InvalidOperationException` is not caught as a `SystemError` on .NET Core because `System.SystemException` is not part of netstandard. This may apply to other `System.SystemException` derived types.

[2016-09-11 15:42] 2-5 opened #1400 "2.7.6.3 - _winreg.EnumKey extremely slow"
After upgrading to 2.7.6.3, this script is extremely slow (compared with IronPython 2.7.5):

[code]

The underlying problem seems to be that `_winreg.EnumKey` is very slow:

[code]

[2016-09-11 20:18] slide commented on #1400
Thanks for reporting this. I'll take a look soon.

[2016-09-12 07:18] shiwee commented on #1379
Sorry for slow response. I downloaded a 2.7.6.3(IronPython-2.7.6.3.zip), extract and put in drive e, then I go back to Eclipse, right click the ironpython project, choose "properties", then select "PyDev -Interpreter/Grammar" and "Click here to configure an interpreter not listed" to create a new one with the ipy downloaded. then the newly created as the Interpreter.
then the issue reproduced.

[2016-09-12 07:22] shiwee commented on #1379
![Uploading ironpythonissue.png…]()

attached a screen snapshot, hope it help.

[2016-09-12 07:42] shiwee commented on #1379
![ironpythonissue](https://cloud.githubusercontent.com/assets/8911792/18428229/54dc3a48-78ff-11e6-824a-e3ad4deb22ba.png)
I finally have the screenshot uploaded.

[2016-09-12 12:42] ch-hristov opened #1401 "ironpython 2.7 : exposing a dynamic object to python unexpected behavior"
If I try to expose an anonymous object to a python script through a hosted environment, I cannot access the members of the provided variable through python, it throws a MissingMemberException.

Example project :

https://github.com/interdrift/ipanonbug

[2016-09-13 10:39] lafrank commented on #1356
yes, looks pretty much the same

[2016-09-13 14:29] kunom commented on #1401
[code]

Exception with IronPython 2.7.5:

[code]

[2016-09-13 14:38] #1387 closed, assigned to nobody

[2016-09-14 06:28] kunom commented on #1401
IronPython currently decides that even though `x` is declared as public, it should not be treated as such because there is no path A.x with A being a public base type of the anonymous type. This looks very wrong here, but I still have to investigate for which other situation it was intended for.

As a workaround, you can use

[code]

[2016-09-14 07:27] bmenne-dspace opened #1411 "Memory-leak using "Debug"-option"
Dear IronPython Support Team

We are using IronPython to call Python from inside a .NET-Application. In our use case we have to debug the Python-Skript. So we enable the "Debug"-option of the ScriptEngine. We found out that the used memory rises by every call.

Please have a look.
  Thanks a lot and kind regards

Benedikt

[IronPythonDebugLeak.zip](https://github.com/IronLanguages/main/files/47148

[2016-09-14 07:45] simplicbe commented on #1411
Thank you, we will investigate this!

[2016-09-14 07:46] simplicbe commented on #1411
I can't see which IronPython version you are using, because with 2.7.6 jdhardy had solved some huge memory leaks.

[2016-09-14 07:58] bmenne-dspace commented on #1411
Hi,

Thanks for your quick reply! :)

We use version 2.7.6. If we do not use the "Debug" option everything is fine. Only if the "Debug" option is activated during script execution the memory memory rises by every call.

[2016-09-14 19:33] slide commented on #1386
This should be fixed as part of https://github.com/IronLanguages/main/pull/1410

[2016-09-15 11:10] kunom commented on #1362
As you can see in [https://github.com/Microsoft/PTVS/issues/749], the PTVS debugger integration is at least currently also based on sys.settrace().

I am not very knowledgeable about sys.settrace() in particular, but good coding practice in my opinion would be to hold a reference to a previously registered callback that you are overriding, chain the calls and restore the old state if the your trac

[2016-09-15 18:54] swn1 opened #1413 "can't use pip in embedded intepreter based on NuGet packages"
In an application with an embedded IronPython intepreter based on the 2.7.5 NuGet packages, there is no way to use pip.  Packages need to invoke a command-line interpreter to run their setup scripts and ...

1) If you try to run PIP (or ensurepip) in-process it fails to find a command-line interpreter at all.
2) the NuGet packages don't include ipy.exe so you can't simply invoke it with subprocess

[2016-09-15 19:01] swn1 commented on #1413
Actually there's another issue, we're using a custom name for the Lib subfolder.  If we run pip manually with IRONPYTHONPATH set appropriately and without the --user flag, it creates a Lib\site-packages folder and installs into it.  Then the packages can't be found because they're not on the path!

[2016-09-15 19:04] swn1 commented on #1413
Third problem, if you import sire prior to running ensurepip or pip with the --user flag for the first time, the site-packages folder in the user's roaming profile does not get added to the interpreter's path.  That's due to specific logic in site.py.  This can result in just-installed packages being invisible in the session that did the install but visible in subsequent runs.  Easy enough to work

[2016-09-15 19:15] swn1 commented on #1316
I've resolved most of the pilot error here and opened a new issue with the actual technical problems more accurately descibed.  So I'm closing this.

[2016-09-15 19:15] #1316 closed

[2016-09-15 19:16] slozier opened #1414 "urllib.unquote causes a StackOverflowException"
`urllib.unquote` causes a `StackOverflowException`.

[code]

[2016-09-15 19:29] simplicbe commented on #1414
`_is_unicode` seems to cause this issue. And `_is_unicode` is defined here:

[code]

`_is_unicode` is calling `return isinstance(x, unicode)`

[2016-09-15 19:46] simplicbe commented on #1414
Here is the problem, that caus the stackoverflow exception:

![differencepythonipy](https://cloud.githubusercontent.com/assets/14359329/18564882/da86abe8-7b8d-11e6-810f-da216164e5ca.PNG)

It should be '$20' not '%20' which cause the exception.

[2016-09-15 19:51] simplicbe opened #1415 "Error when splitting string using regular expression"
This code gives different result in IronPython and Python:

[code]

In IronPython`bits` is `['', '%20', '']` and in Python `['', '$20', '']`

[2016-09-15 19:51] simplicbe commented on #1414
This is the issue: https://github.com/IronLanguages/main/issues/1415

[2016-09-15 19:53] #1415 closed, assigned to nobody

[2016-09-15 20:01] simplicbe commented on #1414
Now I've tracked down the real issue :)

`_is_unicode` always returns true, so `unquote` is calling it self.

`_is_unicode` is defined here:

[code]

When attaching to debugger, `unicode` is of type `str`. So that is the problem.

[2016-09-17 00:07] #1164 closed

[2016-09-17 08:39] ch-hristov commented on #1401
@kunom I see that private binding would allow the user to access private fields of .net objects. I want to avoid this. Could you perhaps help me navigate to the code that decides which members will be serialized to python as public?

[2016-09-19 06:53] kunom commented on #1401
See the _CompilerHelpers_ class.

The issue here is to find a way to determine at runtime whether a private class is an anonymous class or not. The only way I found that goes in that direction is to check for the `CompilerGenerated` custom attribute.

It might be beneficial to look at the C# implementation of the `dynamic` keyword:

[code]

[2016-09-19 13:45] lcjr86 opened #1420 "import multiprocessing error"
Hello folks,
I'm trying to import multiprocessing library on IronPython-2.7.6.3 and this is what's happen:

[2016-09-19 13:58] simplicbe commented on #1420
Thanks for reporting this issue. We'll take a loot at it!

[2016-09-19 14:12] simplicbe commented on #1420
The problem here is the constructor of `Bytes` in `Bytes.cs` that has no constructor that takes a `string` as parameter. The call `os.urandom(32)` retruns a `string` in `process.py`: `type(os.urandom(32))`. Maybe changing this overload in `Bytes.cs` solves this problem:

[code]

[2016-09-19 15:29] slozier commented on #1420
@simplicbe Maybe we should be trying to figure out the underlying issue with subclassing instead of just providing fix for this specific case. The question would then be, if `bytes("a")` works, then why does the following not work:

[code]

[2016-09-19 20:21] simplicbe commented on #1420
@slozier the problem seems to be `BytesConversion` this is not recognized when subclassing... Currently looking into it.

[2016-09-19 21:08] simplicbe commented on #1420
It seems that the `ParameterInfo` is not containing the definition for `BytesConversion`. But it should:
`ParameterInfo.IsDefined(typeof(BytesConversionAttribute), false)` in _PythonOverloadResolver_

[2016-09-19 21:31] swn1 commented on #1289
I could not make it work with a plain python list but when I switched to a System.List[ZSocket] instance it picked up the extension method right away.  To get the correct overload I also had to change some of the other actual parameters to specific C# types.  Thanks for the pointers!

[2016-09-19 21:43] simplicbe commented on #1420
@slozier lcjr86  got it.  I'll create a pull request

[2016-09-19 21:49] #1420 closed, assigned to nobody

[2016-09-20 11:06] lcjr86 commented on #1420
slozier, Can I ask you one question: the bug was fixed? Many thanks

[2016-09-20 11:08] simplicbe commented on #1420
Sure, just ask. Yes, I've fixed the bug yesterday, take a look at #1421

Edit: This may also fix a few more bugs.

[2016-09-20 11:12] simplicbe commented on #422
@slide I don't get any exception anymore.

[2016-09-20 15:35] slide commented on #422
If you don't get the exception, go ahead and close it out.

[2016-09-20 16:46] slide commented on #1386
Fixed in https://github.com/IronLanguages/main/pull/1410

[2016-09-20 16:46] #1386 closed, assigned to nobody

[2016-09-20 19:55] swn1 opened #1424 "pip install requests fails in German locale on 2.7.5"
Running stock 2.7.5 on windows 7 or 10 (at least), installing the requests package with pip fails in the German locale.  I think it fails in Japanese, too, but I'm a lot more able to stumble through the UI in German.

Installing works fine in US English and the package, once installed, works fine in German.  The problem seems to have to do with parsing SSL certificate fields but that could be a ca

[2016-09-20 20:20] simplicbe commented on #1424
Thanks for reporting the issue. We'll take a look at it. Would you like to format your issue using:
[code]

[2016-09-20 22:22] slide opened #1425 "Need a way to mark methods as hidden for certain OS's"
For instance, os.startfile should not exist on Posix OS's, only Windows.

[2016-09-21 13:17] swn1 commented on #1424
Updated with tripple-tick notation.  Thanks for the tip.

The context if, I've got a large application that is invoking pip in ipy.exe via the subprocess package in an embedded IP intepreter.  I'm hoping I can work around this by forcing the subprocess locale to us-english but I've not found the trick for that yet.

[2016-09-21 14:47] grooya opened #1426 "New-style class memory leak"
New style class objects are holding C# objects that are set as variable. Here is examples of inheritance when using old-style and new-style classes that produce the same result but in first case there is no memory leak while in the second case C# objects are not collected even if garbage collection is forced.
1. Old-style:

[code]
1. New-style:

[code]

Note that Variable is set via SetVariable me

[2016-09-21 16:53] slozier commented on #859
It's back to throwing a `TypeError` in 2.7.12.

[2016-09-21 16:53] #859 closed

[2016-09-21 18:07] slide commented on #1400
Fixed with #1428

[2016-09-21 18:07] #1400 closed, assigned to nobody

[2016-09-22 06:32] simplicbe commented on #1426
That is very interesting and may explain some issues we had with IronPython in the past. I'll take a close look at this today. Thanks for reporting it with all details!

[2016-09-22 06:59] lafrank opened #1429 "Find the Target of a CallExpression"
Walking PythonAst I try to collect calls to other functions from within a function body. The aim is to provide a call tree displayed in a TreeView, like in Visual Studio,

I have a question. During iteration of statements in function body, when I encounter a CallExpression and its Target is a NameExpression, how can I find out whether the given NameExpression refers to a FunctionDefinition ? I onl

[2016-09-22 09:26] vukoje commented on #1426
@simplicbe it took 2 weeks and 3 guys to pinpoint this issue we are having in production :smile: . I hope this will make a big difference.

[2016-09-22 09:43] simplicbe commented on #1426
@grooya that is a very interesting behaviour. Because not all `Data` instances are kept in memory, but a few. The GC root seems to be the `PythonContext`.

[2016-09-23 11:59] grooya commented on #1426
I have used dotMemory to track retain graph and got following:

Old style before Data object got collected:
![oldstyle](https://cloud.githubusercontent.com/assets/22348228/18784707/0ded38e2-8194-11e6-8f89-7a3676b4d946.PNG)

New style after all scripts are executed:
![newstyle](https://cloud.githubusercontent.com/assets/22348228/18784726/41168994-8194-11e6-8e36-e28a1e46140e.PNG)

This maybe useful

[2016-09-23 12:02] simplicbe commented on #1426
@grooya yep, same result with Teleriks Just Trace :) Thanks for sharing!

[2016-09-23 18:38] #951 closed

[2016-09-23 22:06] ch-hristov opened #1433 "IronPython causes aspect oriented programming interceptor to fail"
I have a class exposed to ironpython.

I have a C# class exposed to ironpython. My c# class implements `IDynamicMetaObjectProvider`

I need it to do some AoP based work, so I expect that when IronPython calls a method of my exposed C# class I would be able to do some call interception. However, when a call happens it seems that the system cannot recognize that it is a method being invoked and inst

[2016-09-23 23:03] slide commented on #1433
If you have a question, please use the mailing list. This is for bug reports.

[2016-09-23 23:03] #1433 closed, assigned to nobody

[2016-09-26 08:20] refaelsh opened #1435 "IronPython reading C# documentation xml problem"
IronPython cant read C#'s assembly xml document file correctly. If it contains methods with "out/ref" parameters it confuses IronPython. Steps to reproduce:
Lets say You have the following C# assembly:

[code]

I've loaded this assembly in IronPython and created an instance like this:
`dcl = clsBar()`
Running help(dcl.someMethod1) and help(dcl.someMethod2) produced the correct results:

[code]

[c

[2016-09-26 21:10] slide opened #1438 "Re-enable VB.NET tests once xbuild is fixed"
xbuild (14.0/mono 4.6.0.0) currently can't be used to build VB.NET applications.
The following tests need to be re-enabled when the PR for fixing xbuild is in a release version of mono

interop/net/type/test_defaultmember.py
interop/net/property/test_indexervb.py
interop/net/derivation/test_property_override.py (test_vbindexer)

[2016-09-26 21:13] slide opened #1439 "Re-enable test_type_forward2 in test_reachtype.py when Mono's ilasm is fixed"
Mono's ilasm currently won't assemble the typeforwarder2.il file. A PR has been merged.

[2016-09-26 21:35] slide opened #1440 "Triage test_type_causing_load_exception in test_reachtype.py to see if we need to file a bug on Mono"
There are three issues currently:
1. The following code doesn't throw an ImportError

[code]
1. The AttributeError for the PossibleLoadException.B doesn't raise an AttributeError
2. The AreEqual(B, 10) is not correct

[2016-09-26 23:04] slozier commented on #1440
I think this one boils down to the following program:

[code]

throws in Mono, works in .NET.

[2016-09-26 23:09] slozier commented on #1440
Although I don't see how the type B still gets created if Mono throws...

[2016-09-28 11:33] Lisa-V-Sau opened #1442 "Does this replace pythonnet?"
Hi,

This is more a question than an issue.

I actually require pythonnet, though I am having trouble installing it as there are some dependencies which I can not resolve in this place and time.

I came across IronPython and was wondering whether it would work as installing pythonnet and what are the difference or similarities?

Hope someone can answer my questions.

Thanks,
Lisa

[2016-09-28 11:36] #1236 closed

[2016-09-28 13:21] simplicbe commented on #1442
The difference is, that IronPython is completly written in c# and bases on the .net framework. PythonNet (afaics) bases on CPython and works with interops.

What do you mean with _... whether it would work as installing pythonnet ..._?

[2016-09-28 13:27] simplicbe commented on #1442
Additional: here you find all information: http://pythonnet.github.io/

e.g.:

If you have more questions, just join us on gitter or use the mailing list. Thank you for your question!

[2016-09-28 13:29] Lisa-V-Sau commented on #1442
Hi Simplicbe,

I should of been more specific with my question.

Basically I am in need of a .Net Bridge to load a library. This is for work.

I've been told to install pythonnet though I am having failures with it as its unable to build the wheel. For some reason.

Im trying alternatives, so my question is whether IronPython serve that purpose of a .Net Bridge?

Thanks,
Lisa

[2016-09-28 13:34] simplicbe commented on #1442
@karbon62 even better, since IronPytohn is written in .net you don't need any bridge and can natively integrate it into your application. for example this is maybe interesting for you https://github.com/simplic-systems/simplic-dlr as an integration sample.

[2016-09-28 13:39] Lisa-V-Sau commented on #1442
Thats fantastic thanks for the info @simplicbe!

[2016-09-28 13:40] #1442 closed, assigned to nobody

[2016-09-28 15:58] slozier opened #1444 "clr.CompileModules fails to compile dict comprehension when a key is a tuple containing a number"
Fails with the following error:

[code]

Test code:

[code]

[2016-09-28 16:56] slide commented on #1444
Possibly related or duplicate of #1357?

[2016-09-28 17:59] slozier commented on #1444
Ah yes, it's a duplicate.

[2016-09-28 17:59] #1444 closed, assigned to nobody

[2016-09-28 19:04] #261 closed

[2016-09-28 23:49] slide opened #1446 "io.open inside of paren_expr allows file to remain open"
This is based on an install of zeroconf using setuptools:

Run the following:

[code]

Save this to the same directory as file.py

[code]

If you use something like Process Monitor and run it with CPython, you see that the file.py is closed before you press enter, but with IronPython, file.py remains open until the process exits.

This causes issues with installing some packages as they do this in

[2016-09-29 01:22] slozier commented on #1446
I initially thought this might be a GC issue, but it looks the file isn't closed if you force a GC. I guess something is still holding a reference to it even after it shouldn't be.

[2016-09-29 01:39] slide commented on #1446
Either that or the semantics of the scope are not correct.

[2016-09-29 06:24] kunom commented on #1446
Please note that list comprehensions do not have their own scope in Python2:

[code]

[code]

[2016-09-29 06:27] simplicbe commented on #1276
Fixed with #1447

[2016-09-29 06:27] #1276 closed

[2016-09-29 08:25] simplicbe commented on #1446
@kunom is this already an issue in the ip3 repository?

[2016-09-29 08:35] kunom commented on #1446
@simplicbe ip3 is not on my radar, therefore I don't know. I just dealt with that topic in #1199, and I think you could look at the implementation of dict and set comprehensions which have their own scope even in Python2.

[2016-09-29 13:19] slozier commented on #477
Python 2.7 no longer raises an OverflowError.

[2016-09-29 13:19] #477 closed

[2016-09-29 14:12] #895 closed

[2016-09-29 14:18] #876 closed

[2016-09-29 14:46] slozier commented on #719
#495 seems to be tracking the same issue

[2016-09-29 14:46] #719 closed

[2016-09-29 15:06] slozier commented on #511
`__setattr__` and `__delattr__` are working properly now. The first del is still throwing the wrong error, second del is throwing the correct type of error but for the wrong reason.

[code]

[2016-09-29 15:10] slozier commented on #1446
This isn't specific to `io.open`, I'm guessing it applies to pretty much any `IDisposable`. Here's a minimal test case:

[code]

[2016-09-29 15:37] slide commented on #1446
Yes, I agree.

[2016-09-29 15:58] kunom commented on #1446
I disagree. What we observe in such patterns is a) the scope leak of the list comprehension loop variabe, and b) the non-determism of the .NET garbage collector compared to the CPython reference counted collector.

Such Python code is usually considered a bad programming style. Better would be to use the `with` keyword for explicit and controlled resource deallocation.

[2016-09-29 16:16] slozier commented on #1446
@kunom a) The loop variable is a string so that can't be what's keeping the file object alive. b) If you insert a forced garbage collection in between the list comprehension and the raw_input the file still remains open:

[code]

I agree it's bad programming style, but that's a separate issue...

[2016-09-29 17:55] kunom commented on #1446
Excuse me for not reading correctly.

The Visual Studio Debugger tells that the PythonFile object is still rooted by a local variable of type object[], where the 5th item is a KeyValuePair struct where the file object is the key.

![image](https://cloud.githubusercontent.com/assets/1832956/18965440/8d369f4c-867d-11e6-800e-f3ae5f72bb7a.png)

[2016-09-29 18:02] slide commented on #1446
Correct, it's a temp variable created in the expression tree to track an enumerator for the loop

[2016-09-29 20:28] #432 closed

[2016-09-29 20:31] #446 closed

[2016-09-29 23:51] slide commented on #1288
FYI, it looks like pychromecast depends on some native modules, so it won't work with IronPython.

[2016-09-29 23:56] slide commented on #1259
We're working on this one right now, have a lot of tests passing, but haven't merged anything in yet.

[2016-09-30 00:07] slide commented on #1077
This is probably the same issue as #1446

[2016-09-30 00:07] slide commented on #1077
Closing this one out since there is more information in #1446

[2016-09-30 00:07] #1077 closed

[2016-09-30 00:11] slide commented on #1028
I don't see this issue anymore.

[2016-09-30 00:11] #1028 closed

[2016-09-30 14:57] #804 closed

[2016-09-30 14:58] #802 closed

[2016-09-30 21:02] kunom commented on #1375
See also #1329 for a similar bug.

[2016-09-30 21:04] kunom commented on #1362
As this is not really a bug report, can you please close the issue?

[2016-09-30 22:07] #1362 closed, assigned to nobody

[2016-09-30 22:36] #1354 closed, assigned to slide

[2016-09-30 22:37] #335 closed

[2016-09-30 22:37] #1355 closed, assigned to slide

[2016-09-30 23:12] slide commented on #1295
I have code to load the certs from the windows store now. I need to retest this scenario still.

[2016-10-01 03:56] #1357 closed, assigned to slide

[2016-10-01 23:19] slozier commented on #864
Python 2.7.12 is still behaving that way. Here's a simple test case:

[code]

[2016-10-02 02:09] slozier commented on #1095
Here's a more compact repro test:

[code]

Looks like the culprit is `IronPython.Compiler.Ast.BinaryExpression.ConstantFold`...

[2016-10-02 12:51] slozier commented on #1033
This was fixed with #1332.

[2016-10-02 12:51] #1033 closed

[2016-10-02 13:41] slozier commented on #843
[code]

[2016-10-02 17:39] slozier commented on #766
Uses `System.Xml` APIs (e.g. `XmlElement`) not available in Silverlight so this is correctly disabled.

[2016-10-02 18:03] #766 closed

[2016-10-02 18:09] #839 closed

[2016-10-02 18:14] #573 closed

[2016-10-03 00:25] slozier commented on #751
I believe this one is related to #593.

[2016-10-03 00:45] slozier commented on #861
This isn't a lack of precision on CPython's part, it's an issue with string representations of numbers in IronPython. In this case `2.95224853258877e+189 == 2.9522485325887698e+189` but the first representation is the shortest. See #1271.

[2016-10-03 16:11] ghost opened #1454 "Cannot run on Ubuntu 16.04 Mono"
00:00:36:mono IronPython/ipy64.exe
Traceback (most recent call last):
  File "/media/psf/WinExe/IronPython/Lib/site.py", line 552, in <module>
  File "/media/psf/WinExe/IronPython/Lib/site.py", line 534, in main
  File "/media/psf/WinExe/IronPython/Lib/site.py", line 266, in addusersitepackages
  File "/media/psf/WinExe/IronPython/Lib/site.py", line 241, in getusersitepackages
  File "/media/psf/W

[2016-10-03 16:57] slide commented on #1454
This is a duplicate of #1386

[2016-10-03 16:57] #1454 closed, assigned to nobody

[2016-10-03 18:55] slozier commented on #746
The particular test in the issue is properly skipped although `test_fileio.py` is still failing.

[2016-10-03 21:16] slozier commented on #856
The rounding in IronPython is incorrect. It should only round up when the floating point value is equally close.

From the Python documentation:

[2016-10-03 21:43] #625 closed

[2016-10-04 02:07] slozier opened #1457 "recursion limit is "unstable""
It looks like the recursion limit is "unstable". After the recursion limit is hit once the limit appears to be lower than before. Here's a sample program:

[code]

[2016-10-04 19:17] #575 closed

[2016-10-04 22:59] #471 closed

[2016-10-05 13:04] slide commented on #1429
Can you provide an example of what you are trying to do in code?

[2016-10-05 13:05] slide commented on #1338
Can this be closed out then?

[2016-10-05 13:13] slide commented on #1259
Lot's of the tests are now passing on Linux. I will keep this open until we have them all triaged.

[2016-10-05 13:55] slozier commented on #1338
Yes, we should reopen the PR though...

[2016-10-05 13:55] #1338 closed

[2016-10-05 17:18] lafrank commented on #1429
Once I acquired target in GetFunctionCalls() , I'd like to find out whether it refers to a FunctionDefiniton and I want to add this to the return list of FunctionDefinition,

[code]

[2016-10-05 21:13] slozier commented on #600
This causes `test_mutants_cpy` to fail once in a while.

[2016-10-05 21:32] terrajobst commented on #1381
`String.Intern` will be added in .NET Standard 2.0, which will also be implemented by .NET Core:
- https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L3048

[2016-10-05 21:40] terrajobst commented on #1392
Yes, all four APIs are planned to come as part of .NET Standard 2.0 and thus will also be available in .NET Core:
- https://raw.githubusercontent.com/dotnet/standard/master/netstandard/ref/mscorlib.cs

[2016-10-06 02:25] slide commented on #1301
Fixed via #1461

[2016-10-06 02:25] #1301 closed

[2016-10-06 13:53] slide commented on #1435
How did you generate the xml documentation? I just want to make sure I have the same steps as you before trying to debug this.

[2016-10-06 13:57] refaelsh commented on #1435
I used the default way that Visual Studio provides:
1. I add the "///" to every method I want to document.
2. In Project Properties -> Build Tab I checked the "XML documentation file" checkbox.

From here, Visual Studio automatically generates the xml file.

[2016-10-06 14:22] slide commented on #1435
I tried this same thing, but none of the docs show up.

[2016-10-06 14:25] refaelsh commented on #1435
To @slide: This is strange. I dont know what to tell You.

[2016-10-06 14:47] slide commented on #1435
I'll continue looking at it.

[2016-10-06 21:28] slozier commented on #914
I believe the proper way to handle this is to set the max recursion limit (e.g. `ipy -X:MaxRecursion 200`).

[2016-10-06 21:28] #914 closed

[2016-10-07 03:08] slide commented on #1435
Ok, I figured out what my issue was. I can now get the docs like you were, and I even fixed a bug (if there is no namespace on the class, then you wouldn't get the docs). I'll debug why the out/ref stuff causes issues now.

[2016-10-07 16:54] jdhardy commented on #1411
Debug mode keeps a bunch of stuff around that it probably doesn't need to.
When I fixed the memory leaks I deliberately left out Debug mode fixes
because of how it works (it would have required some pretty extensive
changes). It's probably resolvable, but it'll mean spending a lot of time
in dotMemory figuring out what is being held.

Generally, any static variable should be viewed with suspicion,

[2016-10-07 17:17] jdhardy commented on #1429
It's correct, as .Parent refers to the enclosing scope.

Python's name lookup occurs at runtime, so you'll have to do the same.
Since you're traversing the Python code, not running is, the best you'll be
able to keep track of function definitions/imports as you see them and use
that to try and find the FunctionDefinition. It should cover most of the
cases, but of course not every callable is actua

[2016-10-07 17:50] lafrank commented on #1429
Many thanks for the answer jdhardy.

Although I can - and I actually do - keep track of all function names I don't think it would be correct to simply rely on name matching, because - as you pointed out - not every callable is a function. Even worse if there are overlapping names and only correct scoping can resolve the correct callable item.

Can you explain in a nutshell what would be my best op

[2016-10-07 20:43] slozier commented on #407
This is still somewhat buggy. The test case (`IronPythonTest.EngineTest.ScenarioCodePlex20472`) needs to be tweaked. To get an exception it needs to call `GetCode` on the `ScriptSource` , but the exception appears to be of type `IronPython.Runtime.BadSourceException` which is probably not what we want...

[2016-10-08 13:43] tumagonx opened #1463 "Tutorial files not run?"
Sorry for possible noob question. I only experience CPython before.

I tried install IPy 2.7.6 then run calculator.py and winforms.py from tutorial subdirectory

calculator.py: complaint not found: Windows.System.Controls (I assume this is Silverlight App and need the sdk?)
I tried solve put the required assemblies from SL SDK and add:
clr.AddReferenceByPartialName("System.Windows.Controls")
but t

[2016-10-08 14:15] slide commented on #1463
Please use the mailing list for questions. The tutorials are something that still need attention after the revival of IronPython.

[2016-10-08 14:15] #1463 closed, assigned to nobody

[2016-10-08 14:17] slide commented on #1297
The error with ipv6only has been resolved. Please use the makefile to build with mono

[2016-10-08 14:17] #1297 closed

[2016-10-08 14:19] #1289 closed

[2016-10-08 14:24] slide commented on #1156
There best option for running a release build from the tree is to export IRONPYTHONPATH to point to the Lib directory under the External. LCA_ Restricted/IronPython/27. Then you can run the interpreter from the build tree in Release mode.

[2016-10-08 14:24] #1156 closed

[2016-10-08 14:28] slide commented on #1243
Sorry for the long response time, we are just getting tests up and running on mono. Our mono support should be better in the future. I'll take s look at this issue soon.

[2016-10-08 17:28] matthewblott commented on #1243
Thanks for the response. I just downloaded and built the last release (2.7.6.3) and the error was the same so I presume this is still open?

Moving forward, is Mono going to get full support or will the focus be on .NET Core? My assumption was the latter but my experience with .NET Core hasn't been good so far (it's a real moving target) in which case I'm guessing a fully supported and stable Iron

[2016-10-08 18:41] slide commented on #1243
We're going to support mono AND .NET Core.

[2016-10-09 01:47] #1080 closed

[2016-10-09 06:24] refaelsh commented on #1435
Thank You very much @slide :-)

[2016-10-09 23:26] slide commented on #1165
This is because dumbdbm.py uses **repr** which adds the u in front of the string since all strings are unicode in IronPython. I'll see what workaround I can come up with.

[2016-10-10 00:35] #1435 closed, assigned to slide

[2016-10-10 07:22] refaelsh commented on #1435
Thank You @slide very much for fixing this issue :-)
It helps Me a lot!

One more question please: I understand that the fix is labeled to be in version 2.7.6.4, when it will be available as an update to Visual Studio NuGet package (current version in NuGet is 2.7.5)?

[2016-10-10 13:59] slide commented on #1435
I labelled it that way because that will possibly be the next released
version.

On Mon, Oct 10, 2016, 00:22 refaelsh notifications@github.com wrote:

[2016-10-11 00:55] slozier commented on #1060
We could probably get the DLR to build for Win8, but I'm not sure how much work would be needed to get IronPython to build. Do people still care about Windows 8?

[2016-10-11 01:46] slide commented on #1060
Close this oit

[2016-10-11 01:54] slide commented on #1060
Out*

[2016-10-11 12:10] #1060 closed

[2016-10-11 14:39] #1066 closed

[2016-10-12 13:33] slozier commented on #1090
Looks like this one was fixed a while back https://github.com/IronLanguages/main/commit/b1cbdbdc.

[2016-10-12 13:33] #1090 closed

[2016-10-12 14:15] #928 closed

[2016-10-12 16:52] slozier commented on #875
This one is a trivial fix.

Do we really want to have the same error message as CPython? Seems like the message

is CPython specific...

[2016-10-12 17:24] slide commented on #875
Only if someone is looking for that specific message in a test or something.

[2016-10-12 17:24] slide commented on #875
Do we know what Jython does?

[2016-10-12 17:38] slozier commented on #875
CPython: `OverflowError: Python int too large to convert to C long`
Jython: `OverflowError: %c arg not in range(0x100)`
PyPy: `OverflowError: long int too large to convert to int`
IronPython: `OverflowError: long int too large to convert to int`

In `test_strformat_20` we've got a conditional `if not is_cpython` to get the proper error message.

[2016-10-12 19:37] simplicbe commented on #1065
This is not working any way yet. We have to think about a new solution.

[2016-10-12 19:37] #1065 closed

[2016-10-12 21:03] slozier commented on #1186
Here's the fixed up test code (had to remove the colon in the utc offset), this one works in CPython 3.5 but fails in CPython 2.7.

[code]

We should be getting the following error message:

[code]

[2016-10-13 06:54] markusschaber commented on #805
@dfugate: Could you clarify / specify which examples you need? Or even submit examples? :-)

[2016-10-13 16:19] slozier commented on #1159
Note that this seems to work the same way as CPython if you exclude the `-X:Tracing` option.

[2016-10-13 16:43] slozier commented on #1048
Looks like Mono resolved the issue.

[2016-10-13 16:43] #1048 closed

[2016-10-14 00:37] #1024 closed

[2016-10-14 01:33] slozier commented on #305
This one if fixed with #1331.

[2016-10-14 01:33] #305 closed

[2016-10-14 19:09] gilmatok opened #1467 "Can only unbox from an object or interface type to a value type."
[code]

[code]

[code]

Script usage:

[code]

.. throws this exception: Can only unbox from an object or interface type to a value type.

Why's that happening?

[2016-10-14 21:19] slozier commented on #1467
As a workaround you can either make your enum public, or cast to int in SetVariable and back to VariableType in your switch statement...

[2016-10-14 21:25] slide commented on #1056
The error no longer occurs.

[2016-10-14 21:25] #1056 closed

[2016-10-14 21:42] slide commented on #1263
Do you have a specific operation that you were trying to do when you ran into this? Something that would help figure out a specific use case?

[2016-10-15 18:00] slozier commented on #1088
This one was fixed with #1153. The label of the PR was pointing to the incorrect issue.

[2016-10-15 18:00] #1088 closed

[2016-10-15 18:12] slozier commented on #944
This is the correct behaviour. CPython does the same thing:

[code]

[2016-10-15 18:12] #944 closed

[2016-10-15 18:15] #926 closed

[2016-10-15 21:03] slozier commented on #891
It currently seems to be failing because `_SSLContext.load_cert_chain` isn't implemented (so no certificate gets loaded).

[2016-10-15 22:12] slide commented on #891
There's a bunch in there that needa to be implemented

[2016-10-16 00:06] slozier commented on #952
Not exactly sure how to go about trying to repro this one...

[2016-10-16 00:23] slozier commented on #890
`test_long_key` in `test_winreg_cpy` appears to be a test case for this.

[2016-10-16 00:27] #748 closed

[2016-10-16 00:36] slozier commented on #566
This one is still giving an `AttributeError` instead of a `TypeError`:

[code]

[2016-10-16 13:30] slozier commented on #1006
The `UnicodeEncodeError` no longer occurs, but the result is still incorrect. In particular, ipy is eating the BOM and there also appears to be some other glitches.

[code]

outputs:

[code]

instead of:

[code]

[2016-10-16 14:08] slozier commented on #840
From the Python3 documentation (couldn't find anything specifically relating to bytearray in the Python2.7 doc):

[2016-10-16 18:45] #840 closed

[2016-10-16 21:18] Samureus opened #1469 "enable -X:FullFrames by default?"
Hi, first of all congratulations on the new 2.7.7 RC, but if I have user installed pip packages, it shows a lot of warnings like this one in Ubuntu 16.04:

[code]

The message dissapears if I pass the `-X:FullFrames` flag to ipy.exe, of course. I was wondering what's the tradeoff of enabling this flag on by default.

[2016-10-16 21:34] slide commented on #1469
There is some discussion on this already at #1072 , we'll definitely look into it.

[2016-10-16 21:35] #1469 closed, assigned to nobody

[2016-10-17 13:18] #590 closed

[2016-10-17 13:34] michaelblyons opened #1471 "Change console color on *nix"
I'm on OSX, and I have a light theme for my terminal emulator. Is there a way to use a dark color for the text output? The `-X:ColorfulConsole` flag does not seem to have any effect, either.

I have a crummy workaround wherein I alias the `ipy` command to darken and restore the terminal color. But after I leave the IronPython console or my command finishes running, it's hard to read again.

[code]

[2016-10-17 13:59] slide commented on #1471
I agree, IronPython should use your console colors. I don't know that any of the community members have OSx to test on, but we'll see what we can do.

[2016-10-17 19:44] #860 closed

[2016-10-17 19:59] slozier commented on #1055
Duplicate of #954.

[2016-10-17 19:59] #1055 closed

[2016-10-17 20:10] #851 closed

[2016-10-17 20:29] #422 closed

[2016-10-17 20:39] #508 closed

[2016-10-18 00:53] slozier commented on #1037
This is working now. I believe it was fixed with #1332.

[2016-10-18 00:53] #1037 closed

[2016-10-18 15:13] dsblank opened #1473 "Running an old IronPython on newer mono"
Running into a case with an old ironpython (2.9.9a0) on new mono (such as 4.2.1):

[code]

Above the exception is handled somewhat, but with a weird error message. Any quick fix other than upgrading ironpython?

[2016-10-18 15:21] slide commented on #1473
I don't even know what version of IPy that is...it seems like something built locally?

[2016-10-18 15:58] dsblank commented on #1473
The problem occurs with later IronPython versions too, it seems. In any event, we found a workaround of supplying -X:ExceptionDetail (or setting that property in code).

[2016-10-18 16:05] dsblank commented on #1473
Actually, we aren't crashing anymore, but aren't getting Python stack traces either.

[2016-10-18 16:09] slide commented on #1473
What later versions of IronPython have you tried?

[2016-10-18 16:11] dsblank commented on #1473
I haven't... working with another developer. He said that he is getting the same problem with NET35 with newer IronPython.

[2016-10-18 16:14] dsblank commented on #1473
here is a full crash report: https://bitbucket.org/ipre/calico/issues/222/large-number-crash

[2016-10-18 16:25] keithohara commented on #1473
I updated our Python & Microsoft.Scripting DLL's and still have the same crash as Doug mentions. It appears to stem from `GetStackTraces()`

[code]

[2016-10-18 16:30] slide commented on #1473
Did you also update the standard library files? There were some updates to that as well in 2.7.6.3. Also, can you tell me what versions of mono and ironpython were previously working?

[2016-10-18 16:44] keithohara commented on #1473
I'll update the standard libraries as well, I didn't do that.

Currently using:

[code]

I'm not sure what I was using previously, but it was the Ubuntu 14.04 apt-get. (Maybe 3.2.8?) And as Doug mentioned, we are using an older (non-standard?) version of IronPython:

[code]

[2016-10-18 16:49] slozier commented on #1473
@slide 2.9.9 is probably a build of the master branch.

[2016-10-18 17:03] slide commented on #1473
@slozier Makes it pretty difficult to determine what code base was being used...

[2016-10-18 18:00] ita1024 opened #1474 "RC 2.7.7 rc0 regression"
With the following piece of code:

[code]

The version rc0 outputs this:

[code]

By comparison, here is the output on Python (the version does not really matter). I believe that the old IronPython from 2 years ago also worked properly:

[code]

Correction: i have not tested this snippet with the previous release because i had problems running it.

[2016-10-18 18:27] paweljasinski commented on #1474
works fine under ipy 2.7.5

[2016-10-18 18:40] slozier commented on #1474
@paweljasinski We replaced the .NET call with a PInvoke because of performance issues. I will look into it this evening.

[2016-10-18 18:43] slide commented on #1474
Maybe a CharSet issue for the P/Invoke method?

[2016-10-18 18:43] slozier commented on #1474
Most likely.

[2016-10-18 20:41] #1474 closed, assigned to slozier

[2016-10-18 22:44] keithohara commented on #1473
OK, I've tried to recreate our issue with a simple embedding of IronPython:

[code]

which results in:

[code]

Ubuntu 14.04
Mono JIT compiler version 4.6.1 (Stable 4.6.1.5/ef43c15 Wed Oct 12 09:10:37 UTC 2016)
IronPython-2.7.6.3

[2016-10-18 23:21] slide commented on #1473
Does this same code work on Windows? Just trying to narrow down if it is something mono specific.

[2016-10-18 23:25] slide commented on #1473
I just tested on Windows and it works (gets a correct stack trace). So, there is something specific to mono.

[2016-10-18 23:27] slide commented on #1473
The issue seems to be that StackFrame.GetMethod() is returning null on Mono, but not on Windows (MS.NET). So, this could be an issue with Mono itself. We'll have to look into it further.

[2016-10-18 23:41] keithohara commented on #1473
Thanks for verifying it works on windows, I should have mentioned earlier we noticed the trouble on Mac OS X.

[2016-10-18 23:51] slide commented on #1473
Just as an FYI, we're really just recently trying to get things work on Mono. We have a large portion of tests now running and passing on Mono, but there are sure to be issues like this one until we get a full support story going for Mono.

[2016-10-18 23:55] keithohara commented on #1473
Great to hear development is going strong!

We've been using IronPython on Mono from the start of our Calico project (2008 or so) and have had little headaches with that part of the Mono experience (Gtk on the other hand ...).

[2016-10-18 23:55] keithohara commented on #1473
I posted an issue on the Mono bug tracker:

https://bugzilla.xamarin.com/show_bug.cgi?id=45677

[2016-10-18 23:56] dsblank commented on #1473
Thanks for all the work on this!

[2016-10-19 09:41] #1375 closed, assigned to nobody

[2016-10-19 09:42] #1329 closed

[2016-10-19 09:44] slide commented on #264
@kunom FYI, please reference this issue when you do your setprofile work.

[2016-10-19 09:44] #259 closed

[2016-10-19 09:45] #256 closed

[2016-10-19 09:47] #302 closed

[2016-10-19 09:49] #433 closed

[2016-10-19 09:51] #405 closed

[2016-10-19 09:52] #319 closed

[2016-10-19 09:57] #538 closed

[2016-10-19 09:58] slide commented on #486
@kunom Do your recent changes cover this?

[2016-10-19 09:59] #484 closed

[2016-10-19 10:04] #715 closed

[2016-10-19 10:05] #704 closed

[2016-10-19 10:05] #701 closed

[2016-10-19 10:08] #741 closed

[2016-10-19 10:09] #746 closed

[2016-10-19 10:13] #788 closed

[2016-10-19 10:14] #795 closed

[2016-10-19 10:18] slide commented on #890
@slozier Shouldn't this be closed?

[2016-10-19 10:19] #897 closed

[2016-10-19 10:23] slide commented on #918
@markusschaber Is this still an issue?

[2016-10-19 10:24] #964 closed

[2016-10-19 10:26] #970 closed

[2016-10-19 10:28] #971 closed

[2016-10-19 10:33] #1078 closed

[2016-10-19 10:34] #1071 closed

[2016-10-19 10:34] #1068 closed

[2016-10-19 10:37] #1083 closed

[2016-10-19 10:39] slide commented on #1203
Is this still an issue with the current RC (2.7.7 RC0)?

[2016-10-19 10:44] slide commented on #1296
@kunom Any comments?

[2016-10-19 10:45] slide commented on #1353
This should be fixed in 2.7.7 RC0

[2016-10-19 10:45] #1353 closed, assigned to slide

[2016-10-19 10:50] markusschaber commented on #918
Yes. Low priority, I'd say, but we still use some workarounds like writing source to temporary files to allow debugging of scripts which are in-memory (or read from some other storage, like some database).

I'm not sure if and which solution cPython provides for this, but in hosted environments, when source is not always a plain .py file, it makes debugging more difficult.

[2016-10-19 12:01] #955 closed

[2016-10-19 12:08] slide commented on #794
This is still not working on mono under an interactive console. It works fine in a script run using ipy[64].exe

[2016-10-19 13:05] slozier commented on #890
@slide I'm not sure, I only fixed the ones covered by the test case. Since this is an edge case maybe that's good enough?

[2016-10-19 13:13] #1261 closed

[2016-10-19 13:26] slide commented on #1379
I notice you have Grammar version set to 3.0-3.5, can you please try setting it to 2.7 (or similar)?

[2016-10-19 17:45] kunom commented on #1296
The first issue is a TracebackFrame instance that is constructed with a `scopeCallback` argument instead of a `globals` PythonDictionary, but the dictionary returned by scopeCallback does hold `null` as value for "$globalContext".

[2016-10-19 17:48] slide commented on #890
Yes, I think that is good enough.

[2016-10-19 17:48] #890 closed

[2016-10-19 23:32] slide commented on #173
Even after making this change, there are issues with file locking and so forth that is doing P/Invoke to Windows functions.

[2016-10-19 23:50] #911 closed

[2016-10-20 02:42] slozier opened #1480 "test_memory_20 failing with -X:Frames"
When running the full test suite with -X:Frames to see what sort of perf hit we would get if frames were on by default I noticed that `test_cp26005` in `test_memory_20` fails. Seems like it could be a memory leak.

[2016-10-20 12:17] slide commented on #269
Running the attached python script works on latest.

[2016-10-20 12:17] #269 closed

[2016-10-20 12:18] #271 closed

[2016-10-20 12:18] deviezeviking opened #1481 "IronPython 2.7.6 makes Rhino3D crash"
Hi all,

Not sure if this is a IronPython problem, or rather a Rhino3D problem, but when using IronPython 2.7.6 in combination with Rhino3D, Rhino3D crashes.

This happens in the following situation.
Rhino ships with IronPython 2.7.0 beta, which raises all sorts of error when using dictionaries. This is easily fixed by making Rhino use a final release of IronPython, for example 2.7.5 final.

Howev

[2016-10-20 13:37] agus-v commented on #1203
Hello Alex,
We don’t know. We solved the issue by switching to Python.
Regards,
Agustin

De: Alex Earl [mailto:notifications@github.com]
Enviado el: miércoles, 19 de octubre de 2016 07:39 a.m.
Para: IronLanguages/main main@noreply.github.com
CC: Villavedra, Agustin avillavedra@ccc.com.uy; Author author@noreply.github.com
Asunto: Re: [IronLanguages/main] error using pip with ironpython (#1203)

Is

[2016-10-20 15:24] slozier commented on #1481
I tried it over here and it worked, maybe you can give more details about how you set it up? Here's what I did:
- Download/install Rhino 5 evaluation
- Go in C:\Program Files (x86)\Rhinoceros 5\Plug-ins\IronPython and delete Lib, IronPython.dll, IronPython.Modules.dll, Microsoft.Dynamic, Microsoft.Scripting.
- Put the new versions of the files in the same folder as above
- Start Rhino, go in Tools

[2016-10-21 03:20] slide commented on #265
I'm unable to reproduce this.

[2016-10-21 03:20] #265 closed

[2016-10-21 19:52] slozier commented on #709
The CPython test is just bad. The resolution of `time.gmtime` is seconds so `t1-t0 > 0.2` will be `True` if you're unlucky. The sample code will also fail on CPython (though it seems to usually take many more attempts before it does).

[2016-10-21 19:52] #709 closed

[2016-10-22 03:33] #923 closed

[2016-10-22 03:34] #777 closed

[2016-10-22 11:53] slide commented on #121
I can definitely replicate this issue, I'll see what I can find out. Thanks for your patience.

[2016-10-22 13:07] slozier commented on #643
Here's repro code:

[code]

Under CPython 2.7 it fails with:

Here's a variation:

[code]

This one fails (under CPython 2.7) with:

Both appear to be acceptable with CPython 3.5 or IronPython. My question is then, does IronPython work properly? I assume CPython 2.7 has those restrictions for a reason...

[2016-10-22 13:31] slide commented on #579
Do we need to return the exact same format? I would think this should be implementation defined.

[2016-10-22 13:36] slozier commented on #579
Agreed, it's an implementation detail.

[2016-10-22 13:39] #579 closed

[2016-10-22 14:13] ita1024 opened #1487 "RC 2.7.7 rc1 regression - subprocess"
With the following piece of code:

[code]

The following exception is produced

[code]

sys.version: 2.7.7rc1 (IronPython 2.7.7rc1 (2.7.7.0) on .NET 4.0.30319.42000 (64-bit))

[2016-10-22 15:14] ita1024 opened #1488 "RC 2.7.7 rc1 regression - subprocess+fdopen"
I am getting the following exception in a semi-random manner:

[code]

The following testcase can reproduce the problem relatively reliably. It has one thread creating subprocesses, one thread writing a file, and a control thread to stop the script after 10 seconds:

[code]

The error does not appear when replacing `write_win32` by `write`. With `os.O_NOINHERIT` the subprocess is not supposed to g

[2016-10-22 18:29] slozier opened #1489 "Unpacking keeps objects alive"
[code]

I would expect the output to be:

[code]

but it's:

[code]

[2016-10-22 18:31] slozier commented on #1489
Side note: this is (partly) responsible for `test_tee` failing (in `test_itertools.py`).

[2016-10-22 23:55] #1147 closed

[2016-10-23 00:20] slozier commented on #1488
This one is fixed with #1490.

[2016-10-23 00:54] #1209 closed

[2016-10-23 03:02] #1446 closed, assigned to slide

[2016-10-23 12:53] slide commented on #384
Our format will not match CPython.

[2016-10-23 12:53] #384 closed

[2016-10-23 14:15] #1487 closed, assigned to nobody

[2016-10-23 14:22] #1488 closed, assigned to nobody

[2016-10-23 23:06] slide commented on #578
We won't match this error because it is implementation specific.

[2016-10-23 23:06] #578 closed

[2016-10-24 03:57] #1103 closed

[2016-10-24 03:58] #1101 closed

[2016-10-24 06:47] kunom commented on #1296
It is actually a systematic issue that "$globalContext" is not initialized at the time of the "call" trace event when entering a function. Only on subsequent "line" trace events.

[2016-10-24 15:29] slide commented on #1207
I'm pretty sure this is the same as #1444

[2016-10-24 15:29] #1207 closed

[2016-10-24 16:34] #278 closed

[2016-10-24 16:34] #581 closed

[2016-10-24 16:35] #577 closed

[2016-10-24 16:35] #580 closed

[2016-10-24 21:26] slozier commented on #976
@slide Did you ever finish that native implementation?

[2016-10-24 21:48] slide commented on #976
No, it was when I didn't have much time. I am planning on looking at it again.

[2016-10-24 23:32] Jerhaad opened #1498 "hmac.py can't find operator._compare_digest"
New line added from CPython lib to import compare_digest from operator, but IPY 2.7.6 doesn't have that function in operator.

Nor does hmac really use it.

[2016-10-25 00:28] slide commented on #1498
I thought I added this, I'll double check my local repo

[2016-10-25 00:29] #858 closed

[2016-10-25 02:05] slide commented on #1498
This is fixed already in 2.7.7 RC0, see #1448

[2016-10-25 02:05] #1498 closed, assigned to nobody

[2016-10-25 04:03] #449 closed

[2016-10-25 12:28] #862 closed

[2016-10-25 16:07] slide commented on #277
Need to check if this is still an issue after #1490

[2016-10-25 16:10] slide commented on #277
Looks good now:

[code]

[2016-10-25 16:11] slide commented on #277
Accidentally closed....

[2016-10-25 16:34] slide commented on #274
These methods don't exist anymore, but you can do the following to do this:

[code]

[2016-10-25 16:34] #274 closed

[2016-10-25 16:37] slide commented on #255
Current output is this:

[code]

[2016-10-25 20:37] slide commented on #255
There is a different error message printed out on CPy 2.7

[code]

[2016-10-25 20:40] slide commented on #398
@slozier Here is some discussion on real file handles.

[2016-10-26 02:16] #332 closed

[2016-10-26 02:22] slozier commented on #853
My guess is this one is caused by #1271.

[2016-10-26 02:29] slozier commented on #734
`_ssl.SSLType` is isn't in CPython 2.7.12.

[2016-10-26 02:39] slide commented on #394
The **future** module now has all_feature_names.

[2016-10-26 02:39] #394 closed

[2016-10-26 02:41] slide commented on #395
Still shows __init__() instead of deque()

[2016-10-26 02:43] slozier commented on #841
CPython now outputs the same message as we do.

[2016-10-26 02:43] #841 closed

[2016-10-26 03:01] slozier commented on #314
Error messages are still different.

[2016-10-26 14:53] #268 closed

[2016-10-26 19:38] #282 closed

[2016-10-26 21:20] #1203 closed

[2016-10-27 02:08] slide commented on #497
Tracked in #495

[2016-10-27 02:08] #497 closed

[2016-10-27 02:13] slide commented on #526
This works on 2.7

[2016-10-27 02:13] #526 closed

[2016-10-27 02:27] slide commented on #559
This seems to work now, unless I am missing something.

[2016-10-27 02:27] #559 closed

[2016-10-27 03:52] slide commented on #525
This test passes on 2.7.7

[2016-10-27 03:52] #525 closed

[2016-10-27 11:36] #781 closed

[2016-10-27 20:27] kunom opened #1504 "`LocalsDictionary` bugs"
The `LocalsDictionary` class that is used as storage provider for the dict instance returned in `frame.f_locals` is broken in at least two aspects (compared to CPython):
- Enumeration includes unintialized locals
- Key containment checks do not work, not even for initialized locals

Test code:

[code]

CPython output:

[code]

IronPython output:

[code]

Found while investigating #1296.

[2016-10-28 04:26] slide commented on #735
SSL stuff has changed since this was filed. We do need to get SSL tests passing, but this exact issue is not valid.

[2016-10-28 04:26] #735 closed

[2016-10-28 04:26] slide commented on #734
SSL stuff has changed since this was filed. We do need to get SSL tests passing, but this exact issue is not valid.

[2016-10-28 04:26] #734 closed

[2016-10-28 04:26] slide commented on #736
SSL stuff has changed since this was filed. We do need to get SSL tests passing, but this exact issue is not valid.

[2016-10-28 04:26] #736 closed

[2016-10-28 04:27] slide commented on #737
SSL stuff has changed since this was filed. We do need to get SSL tests passing, but this exact issue is not valid.

[2016-10-28 04:27] #737 closed

[2016-10-28 04:27] slide commented on #738
SSL stuff has changed since this was filed. We do need to get SSL tests passing, but this exact issue is not valid.

[2016-10-28 04:27] #738 closed

[2016-10-28 12:30] #631 closed

[2016-10-28 12:30] #884 closed

[2016-10-28 13:38] slide commented on #1059
I am able to use the dropbox API with 2.7.7 RC1

[2016-10-28 13:38] #1059 closed

[2016-10-28 13:59] slozier opened #1506 "Accept command line -m arguments without a space"
We should accept the `-m` command line argument even if there is no space following the `-m`. For example `-mtimeit` which appears in the python doc (https://docs.python.org/2/using/cmdline.html).

[2016-10-29 13:28] slozier opened #1508 "issubclass basestring issues"
Thought about more cases which are not covered by #1507:

[code]

[2016-10-29 15:25] #1508 closed, assigned to nobody

[2016-10-29 15:52] slozier commented on #1010
To repro:
- put the msi on a removable drive
- install the msi
- eject the drive
- go in add/remove programs and repair

I'm not sure if this is a bug. It just wants access to the msi which was on an external disk which is no longer available.

[2016-10-29 18:40] slide commented on #1010
I think I'll just remove the repair and modify options for the installer.

[2016-10-30 14:32] slozier commented on #293
CPython is now stripping out the docstring as well.

[2016-10-30 14:32] #293 closed

[2016-10-30 22:52] #281 closed

[2016-10-30 22:52] #283 closed

[2016-10-30 23:58] slozier opened #1512 "Duplicate file is closed when original file is closed"
This works with CPython. IronPython fails with `ValueError: I/O operation on closed file`.

[code]

[2016-10-31 00:11] slozier commented on #1079
While `pytest` is still not working, it no longer appears to crash with an `UnboundLocalError`. What currently appears to be failing is #1512.

[2016-10-31 00:11] #1079 closed

[2016-10-31 01:28] slozier commented on #383
This one was implemented with f50de631ff75e8a6869b05529584bd95b1c9b5d5.

[2016-10-31 01:28] #383 closed

[2016-10-31 02:34] slozier commented on #622
Readable repro code:

[code]

However, since we don't support .pyc files so I'm not sure if this is really an issue...

[2016-10-31 02:56] slide opened #1513 "Python3WarningAttribute doesn't work on properties"
The Python3WarningAttribute doesn't work on properties., this causes some tests in test_py3kwarn.py to fail.

[2016-10-31 14:51] slide opened #1515 "SHA224 doesn't compute the correct hash after a certain size"
There are 3 test vectors in the RFC for SHA224 (https://www.ipa.go.jp/security/rfc/RFC3874EN.html)

Test case 1: "abc" computes correctly
Test case 2: "abcdbcdecdefdefgefghfghighijhijkijkljklmklmnlmnomnopnopq" computes correctly
Test case 3: 1,000,000 repetitions of the character "a" does NOT compute correctly.

[2016-11-01 07:29] kunom opened #1518 "Tracing reports incorrect line numbers for generator functions"
[code]

CPython output:
[code]

IronPython output (note the last two line numbers):
[code]

[2016-11-01 07:32] simplicbe commented on #1518
@kunom thanks for reporting that. Do you have an idea, why this is happens?

[2016-11-01 10:11] kunom commented on #1518
No, this needs debugging. It is like #1504 a by-product of my investigations of #1296.

My gut feeling is that debugging code generation and particularly the `DebuggableLambdaBuilder` class is not (yet) at the same maturity level as other parts of the IronPython code base. Compared to CPython, tracing is implemented in an extremely complicated and convoluted way.

[2016-11-01 21:25] #849 closed

[2016-11-02 02:34] slozier commented on #824
Can't find `setbench.py`.

[2016-11-02 02:34] #824 closed

[2016-11-02 03:48] #1023 closed

[2016-11-02 12:39] slide commented on #1197
I just tested this and it works just fine. I am able to import from a DLL using engine.ImportModule.

[2016-11-02 12:39] #1197 closed

[2016-11-02 17:25] #1067 closed

[2016-11-02 17:25] #1515 closed, assigned to slide

[2016-11-02 22:40] #838 closed

[2016-11-03 01:41] slozier commented on #585
Seems to be giving the same output as CPython now.

[2016-11-03 01:41] #585 closed

[2016-11-03 01:52] slozier commented on #582
As stated in the comment above it works except for dict:

[code]

[2016-11-03 02:17] #560 closed

[2016-11-03 02:23] slide commented on #257
The first item

[code]

works now.

[2016-11-03 02:27] slozier commented on #555
Looks like we need overloads to deal with `BigInteger` arguments.

[2016-11-03 02:48] #529 closed

[2016-11-03 02:55] #530 closed

[2016-11-03 14:03] #597 closed

[2016-11-03 16:13] slozier opened #1525 "DeprecationWarning not hidden by default?"
Python2.7 silences `DeprecationWarning` by default. However I'm still seeing them in IronPython (and the message is somewhat messed up):
[code]

If I turn on warnings in CPython I get the following:
[code]

[2016-11-03 16:17] slozier opened #1526 "Invalid DeprecationWarning when using weakref"
When running this code snippet:
[code]
I get the following `DeprecationWarning`:

There is no such warning in CPython (with -Qwarnall).

[2016-11-03 18:46] simplicbe commented on #1480
Thanks, I will reproduce the issue and profile it.

[2016-11-04 00:28] #598 closed

[2016-11-04 01:27] #1525 closed, assigned to nobody

[2016-11-04 01:27] #1526 closed, assigned to nobody

[2016-11-04 11:23] #870 closed

[2016-11-04 11:24] slide commented on #188
@simplicbe Can you profile this one too?

[2016-11-04 11:31] slide commented on #1480
Related to #1072

[2016-11-04 11:38] slide commented on #284
We also have the following now:

[code]

We are still missing _sre.SRE_Patter (which we don't implement).

[2016-11-04 11:44] slide commented on #308
There is no -D flag anymore.

[2016-11-04 12:26] slozier commented on #308
No -D flag anymore? I'm seeing:

[2016-11-04 13:43] slide commented on #308
Ah, I was only looking at the Python options parser.

[2016-11-04 15:27] #469 closed

[2016-11-04 21:23] #352 closed

[2016-11-04 22:18] slide opened #1530 "Port changes for DLR from main to the dlr repo"
Once the changes are ported, switch to using the dlr repo for the dlr.

[2016-11-05 00:12] slozier commented on #531
nztest no longer exists in the repo.

[2016-11-05 00:12] #531 closed

[2016-11-05 01:35] slide commented on #996
Normally when using pdb, you would do ipy.exe - m pdb script.py.

[2016-11-05 11:40] mic-e opened #1531 "Build fails on Debian Sid"
I'm getting some weird build error on Debian Sid. I have an up-to-date system (as of 2016-11-05) with `mono-complete` and `mono-devel` installed.

In summary, I get a lot of errors like `CSC: error CS0518: The predefined type `System.Object' is not defined or imported`.

Full log:

[code]

[2016-11-05 13:27] slozier commented on #1480
Looks like we have an issue with removing stuff from the frame stack:

[code]

Outputs in IronPython (with -X:Frames):

and in CPython:

[2016-11-05 13:47] slozier commented on #1480
It seems to be caused by generators that are not fully consumed (which is what the [original issue](https://ironpython.codeplex.com/workitem/26005)) was about. Here's a simpler example.

[code]

[2016-11-05 14:09] slide commented on #996
I don't get an exception when I do this.

[2016-11-05 14:09] #996 closed

[2016-11-05 15:02] slide commented on #1531
Did you try using the makefile? The build instructions are not up to do (we need to fix this). Please try using the Makefile provided.

[2016-11-05 15:22] slide commented on #396
I would consider this expected behavior. How does this work if you have a datetime.py in your path? Needs to be investigated.

[2016-11-05 15:27] slide commented on #412
This works now.

[2016-11-05 15:27] #412 closed

[2016-11-05 16:53] #420 closed

[2016-11-05 17:07] mic-e commented on #1531
I tried using `make`, but got the same error.

[2016-11-05 17:20] slide commented on #1531
What version of mono do you have? What make command did you try?

[2016-11-05 21:27] slozier commented on #868
Closing since CPython tests for `memoryview` are passing.

@slide if you remember what the compatibility issues were and if they're still present we can always reopen...

[2016-11-05 21:27] #868 closed

[2016-11-05 22:03] slide commented on #868
I don't remember at all :-), closing is finr

[2016-11-06 05:39] #413 closed

[2016-11-06 12:20] #386 closed

[2016-11-06 15:06] #391 closed

[2016-11-07 12:09] dirk-runge opened #1535 "tokenize.generate_tokens broken in 2.7.6.3"
generate_tokens gets stuck in an endless loop (Lib\tokenize.py line 383)

Example code:
[code]

It used to work fine in 2.7.5

[2016-11-07 13:41] slozier commented on #1535
This one works with the latest 2.7.7 RC.

[2016-11-07 13:41] #1535 closed, assigned to nobody

[2016-11-07 15:25] #388 closed

[2016-11-07 15:25] #417 closed

[2016-11-07 16:02] #359 closed

[2016-11-07 17:07] slide commented on #410
This is not losing information, the second time it is run some of the calls are using the call sites that were created from the first run of the functions.

[2016-11-07 17:07] #410 closed

[2016-11-07 21:39] #760 closed

[2016-11-07 21:57] #681 closed

[2016-11-07 22:07] slozier commented on #574
Duplicate of #285

[2016-11-07 22:07] #574 closed

[2016-11-10 12:52] slide commented on #1531
I just installed Debian Sid in a VM and then installed mono-complete. I cloned IronPython and ran "make" on the command line and I had no issues building IronPython.

[2016-11-10 13:03] slide commented on #1379
I tried this quickly the other day and it crashed for me as well. I didn't get a chance to dig into it though.

[2016-11-10 13:12] slide commented on #1225
I have a possible fix for this, but I need to make sure it doesn't break something else. I also want to understand why the issue is there.

[2016-11-11 11:04] mdengusiak opened #1537 "implement the _tkinter module in the IronPython core"
Would be possible to implement the _tkinter module in the IronPython core?
or there is any way to get it working?

[2016-11-11 12:53] slide commented on #1537
Would you want interfacing with Tcl/Tk, or just a wrapper around another GUI library?

[2016-11-11 12:58] mdengusiak commented on #1537
I want to be able import Turtle module so can show young people and children that programming is fun and we can combine simple and more complex scripts from same environment which will be Dynamo BIM for Revit.

[2016-11-14 00:30] gtalarico opened #1540 "Module loses some methods and propreties when imported into another python script"
I have been struggling with this for while, and haven't been able to find any information on it.
I understand this might not be enough information for you to be able to help, so please feel free to close it.

I have no idea, if this is a IronPython bug, or something about imports in Python I am not aware of.
I also can't provide a good repro case, since this assembly will not load outside the prog

[2016-11-14 00:39] slide commented on #1540
Should File2.py have "from File1 import DB"?

On Sun, Nov 13, 2016 at 5:30 PM Gui Talarico notifications@github.com
wrote:

[2016-11-14 00:53] gtalarico commented on #1540
Thanks slide, sorry, typo in example.
I have revised the code sample.

PS: cross posted this on Stack Overflow, I will post back and close If I get a response.
http://stackoverflow.com/questions/40580471/net-assembly-loses-some-methods-when-imported-from-one-python-file-into-another

[2016-11-14 10:25] mdengusiak commented on #1537
@slide What do you think about getting Tkinter?

[2016-11-14 11:38] andygraham opened #1541 "Obscure inheritance problem with WinForms Controls"
I noticed this some time ago when I was writing my own (semi) graphical WinForms based debugger for IronPython and as IronPython is now under further development I thought that I would report this in case there are any further implications of this problem.

I was reflecting  on an instance of a WinForms Control using dir() and using getattr()  to get the values of properties. I found three propert

[2016-11-14 12:03] kunom commented on #1541
Stacktrace printed using `-X:ExceptionDetail`:

[code]

ILSpy about `ControlVersionInfo.GetFileVersionInfo` (simplified):

[code]

[2016-11-14 12:29] loockass opened #1542 "Performance issue after upgrading to 2.7.6.3 while using jsonschema 2.5.1 Draft4Validator"
In our project, we have encountered performance problem after upgrading Iron Python from 2.7.5 to 2.7.6.3. In both cases we use jsonschema in 2.5.1 version.

**Here is an example:**
[code]
Schema in [attachment.](https://github.com/IronLanguages/main/files/589214/example.zip)

**Result in Iron Python 2.7.6.3:**
[code]
**Result in Iron Python 2.7.5:**
[code]

What is interesting in this case, only

[2016-11-14 12:35] slide commented on #1537
I think it would probably happen on the ironpython3 release tree instead of here, but it wouldn't be soon.

[2016-11-14 13:30] slozier commented on #1542
Works properly in 2.7.7RC2. Final version of 2.7.7 should be released soon.

[2016-11-14 13:30] #1542 closed, assigned to nobody

[2016-11-14 18:56] andygraham commented on #1540
I don't know if this is related to the above or is a different feature concerning the mapping of .NET Object class to the Python object class.

I tried the same but using Form from System.Windows.Form and found four methods missing. Interestingly they seem to be four base methods  of the .NET Object class. They are visible in the Form class in file1 but missing in the imported Form class in file2.

[2016-11-14 20:43] Harpreetkour opened #1543 "IronPython ScriptEngine not executing main block (if __name__ == '__main__':)"
I am using ironpython 2.7. I am trying to run unittests. Following is the code,

[code]

I can execute the same code from ironpython console but cannot do it using ScriptEngine.
The code I am trying to use for execution is,

[code]

Please let me know if anyone has any idea. Thanks in advance!

[2016-11-15 07:43] kunom commented on #1541
[code]

produces

[code]

[2016-11-15 09:19] andygraham commented on #1543
This is how I set up my IronPython environment

[code]

[2016-11-16 22:04] slozier commented on #999
[code]

[2016-11-17 10:32] andygraham opened #1545 "Is ipyw.exe broken in 2.7.6.3 ?"
This may be me or it may be a problem with ipyw.exe - I don't know hence this post. I'm reaching the end of my project to build an IronPython GUI REPL with AutoComplete Intellisense  and other improvements to replace ipy.exe together with a lightweight IDE that can nevertheless edit and run programs also with AutoComplete Intellisense and other frilly bits I am used to in Visual Studio and finally

[2016-11-17 10:47] simplicbe commented on #1545
Have you tried `Visual Studio Code`? It also enables debugging Python Code and is very lightweight. I've also got IronPython Code debugged. But we'll take a look at `ipyw`. Thanks!

[2016-11-17 11:34] andygraham commented on #1545
Yes, I tried VS code but couldn’t get Intellisense to work in it. I commented on this in the old Gitter-Chat room and asked if anyone had succeeded but didn’t get any reply.

[2016-11-17 11:46] slide commented on #1545
I just tried this with the current 2.7.7 RC2 and it worked for me.  Can you check in the event viewer and see if there is anything about the crash?

[2016-11-17 13:10] andygraham commented on #1545
@slide
Good call on the event viewer - I  found

Application: ipyw.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.IO.FileLoadException

I tried on a fresh IronPython 2.7.6.3 installation in a VM and it worked so I took a deep breath and uninstalled my main machine IroPython installation and reinstalled it and it now w

[2016-11-17 13:10] #1545 closed, assigned to nobody

[2016-11-17 14:16] andygraham opened #1546 "ipc.exe hangs on bad input"
Hopefully I'm not wasting your time again :(

If you run ipyc.exe with a bad option or missing filename to compile, or if there is a syntax, indentation or other error during compilation the console from which it is run reports an unhandled exception stack trace and the "IronPythonCompiler has stopped working" dialog is shown and has to be manually closed.

Also see the additional comment below

[2016-11-17 14:17] slide commented on #1546
Thanks for filing this, I noticed this same thing and keep forgetting to file an issue on it.

[2016-11-17 14:28] andygraham commented on #1546
I just noticed another minor feature for when you dig into this.

If by accident :) you specify say `/out:fred.py` as the exe target it is correctly compiled to `fred.exe` but the console, or whatever is reading standard output, sees `Saved to fred.py` giving you a heartstopping moment until you check all is well :)

[2016-11-17 15:54] andygraham commented on #1546
There's a typo in the message box in ipc.exe  Main().
`MessageBox.Show(string.Format("Error occured: {0}", message), "Error", MessageBoxButtons.OK, MessageBoxIcon.Hand)`

`occured` should be `occurred`

[2016-11-17 16:08] slide commented on #1546
If you feel up to it, you are welcome to create pull requests for fixing things. I will get to them, but if you want to be involved in the process more, a PR would be more than welcome :-)

[2016-11-17 16:31] andygraham commented on #1546
I would have no idea where to start! Aged 70 and retired I can still write complex reflective C# code that pokes deep into the CLR and P/Invoke but I find all this NuGet, Choclatey and GitHub webby based stuff totally alien :(

[2016-11-17 23:45] slozier commented on #1546
@andygraham For something simple like a typo it's easy to do a PR directly from github. I believe that's how I did my first PR on github. Find the file you want to edit (e.g. https://github.com/IronLanguages/main/blob/ipy-2.7-maint/Languages/IronPython/IronPythonCompiler/Config.cs#L28), click on the little pencil at the top right of the editor then you can edit the file and do the PR.

[2016-11-18 09:12] andygraham commented on #1543
The OP hasn't responded but the code above has the solution to his problem. This issue should be closed to unclutter the list of open issues but I can't do it :(

[2016-11-18 09:13] simplicbe commented on #1543
@andygraham thanks for reporting and helping!

[2016-11-18 09:13] #1543 closed, assigned to nobody

[2016-11-18 09:15] andygraham commented on #1546
"click on the little pencil at the top right" is about the limit of my capability and understanding but I did it and made my very own very slight contribution to IronPython! Finding the right file was difficult though.

[2016-11-20 00:02] gtalarico commented on #1540
@slide can you reproduce this as well?

[2016-11-20 00:02] slide commented on #1540
I can look into this next week.

[2016-11-20 04:02] Harpreetkour commented on #1543
Thanks for the help. It partially worked for me :)

[2016-11-20 09:35] andygraham commented on #1540
Here is the code I used to test it - might save you a few minutes!

[Test.zip](https://github.com/IronLanguages/main/files/601939/Test.zip)

produce it. Run file2.py

[2016-11-20 12:29] ita1024 opened #1549 "md5 update SystemError"
IronPython 2.7.7 RC2 fails on the following:

[code]

The error message mentions:
[code]

CPython 2 and pypy do not raise any exception with the same snippet.

[2016-11-20 23:45] slozier commented on #1549
While I understand that CPython allows this, can I ask what the use case is for getting a digest before all the data is loaded? The .NET APIs are not at all designed for this type of operation.

Yes it worked with 2.7.5 because that was because all the data was kept in memory (which is terrible if you're trying to get a hash on a large file).

[2016-11-21 00:04] slide commented on #1549
MD5 wasn't a completely managed implementation, other hashes work. I am importing the managed source from Mono to use internally so it matches the behavior of other hashes.

[2016-11-21 18:01] ita1024 commented on #1549
@slozier intermediate hashes are necessary in this particular case
@slide great

[2016-11-24 08:42] #1546 closed, assigned to slide

[2016-11-24 13:55] #1549 closed, assigned to slide

[2016-11-25 07:14] kunom commented on #1159
https://mail.python.org/pipermail/ironpython-users/2016-November/017761.html

The scrubbed text is:

[2016-11-30 05:06] Marks1 opened #1551 "Error when import ThreadPool from multiprocessing.pool"
When
from multiprocessing.pool import ThreadPool

i got a error
  File "C:\Program Files (x86)\IronPython 2.7\lib\site-packages\multiprocessing\__init__.py", line 65, in <module>
  File "C:\Program Files (x86)\IronPython 2.7\lib\site-packages\multiprocessing\util.py", line 41, in <module>
ImportError: Cannot import name _args_from_interpreter_flags

[2016-11-30 07:29] simplicbe commented on #1551
Which version are you using? I think this is a known issue, let me take a look.

[2016-11-30 07:31] simplicbe commented on #1551
This bug should be fixed with #1421

[2016-12-07 02:00] PMoureu commented on #1540
This may be linked to clr, and how it handles the references to the DLL used in each cases.

In each 2nd file, all references come back just by adding :
`import clr`

Same results if you import another namespace from the assembly like
`from Autodesk.Revit.UI import TaskDialog`
or
`from System.Windows.Forms import Label `

"Such context change is per-python-module" https://blogs.msdn.microsoft.com/

[2016-12-07 08:51] andygraham commented on #1540
That's interesting! I didn't think of trying that - though I probably should have :(.  I would have expected all the .NET methods or none to be available without clr imported. I wonder why only a random few go missing!

[2016-12-09 15:22] michaelblyons commented on #1498
In case anyone was curious, the specific file in the merge is [`.../IronPython.Modules/operator.cs`.][1] Jerhaad is correct, so far as I understand it: `hmac.py` doesn't seem to use the `_compare_digest` function at all, and commenting out the `import` line in 2.7.6 seems to work fine. Hopefully this doesn't open up a vulnerability to timing attacks. 😉

[1]: https://github.com/IronLanguages/main/p

[2016-12-11 10:30] lafrank opened #1553 "Provide DocString for a .NET class"
Is there a supported way for a .NET class and its members to provide a DocString that is returned in Python environment by `__doc__`  ?

[2016-12-11 13:41] slide commented on #1553
Please use the mailing list for questions. There is a DocumentationAttribute available that can be used for this purpose

[2016-12-11 13:41] #1553 closed, assigned to nobody

[2016-12-11 13:43] lafrank commented on #1553
Thanks. Actually found DocumentationAttribute, just can't use it. Will post my question on the mailing list.

[2016-12-11 13:48] lafrank commented on #1553
My problem is that I can't use DocumentationAttribute for providing
DocString. I documented the issue in details on this MSDN forum
<https://social.msdn.microsoft.com/Forums/en-US/3749d379-2b27-421d-8108-01edd42fd550/limited-class-visibility?forum=csharpgeneral>,
could someone please have a look what I am missing here ?

On Sun, Dec 11, 2016 at 2:41 PM, Alex Earl <notifications@github.com> wrote:

[2016-12-13 09:44] andygraham opened #1554 "ipyc.exe broken on 2.7.7"
My IronPython IDE uses ipyc.exe to compile standalone exes. It worked fine with 2.7.6.3 but with 2.7.7 it fails with an error like

ERROR: Could not find file 'C:\Users\Andy\Documents\IronPython Projects\Template
s\WpfXamlTemplate.py.dll'.

It has successfully produced WpfXamlTemplate.dll but as you can see it is looking for the wrong dll to finalise the exe.

[2016-12-13 13:14] slide commented on #1554
Can you give the command line that you are using for ipyc.exe?

[2016-12-13 13:35] andygraham commented on #1554
I'm using a response file but I've found where part of the problem lies.
IronPythonCompiler Program.cs line 164  if (config.embed)

[code]
config.Ouput seems to be carrying the extension. The above code fixes the error but the generated exe fails so I've broken something. Looking at the generated exe with Reflector shows that the  generated dll has not been embedded as a resource but I can't immed

[2016-12-13 13:47] andygraham commented on #1554
Heres the response file
[code]

[2016-12-13 13:55] andygraham commented on #1554
Removing /standalone and compiling to a separate stub exe and dll compiles without error but fails to run with a file not found error. I assume it's the same naming problem as above..

[2016-12-13 14:03] andygraham commented on #1554
Sure enough, looking in the stub exe with Reflector it's got a bad filename. But it looks odd that it has embedded the full path in the stub exe. Surely this means that you can't move the exe and dll to  another location?

[code]

[2016-12-13 14:32] slozier commented on #1554
I'm looking thought the code and it looks like the way the `out` parameter is handled is a bit of a mess. Maybe try with `/out:WpfXamlTemplate`?

[2016-12-13 14:38] slide commented on #1554
Yeah, I'm fixing it up

[2016-12-13 16:39] slide commented on #1554
Just as an FYI, this doesn't look correct:

[code]

It should be the path to a .ico file.

[2016-12-13 17:15] andygraham commented on #1554
In previous IronPython versions it worked fine both with and without specifying an icon filename and still seems to now I have crudely patched ipyc  to work again - at least for what I immediately need. It seems ipyc will accept an empty /win32icon: line in an response file though probably not on the command line (I  never tried it) so my IDE response file template always includes that line.

[2016-12-13 17:17] slide commented on #1554
Does it set a weird icon for the the resulting executable?

[2016-12-13 17:30] andygraham commented on #1554
Not that I can see. I think there is no icon embedded in the exe and File Explorer etc. just use a default icon. I can't actually see in the exe as Reflector only shows .NETty stuff and not the win32 stuff and I don't have a resource editor to hand to take a peek

[2016-12-14 18:16] andygraham commented on #1554
There's a further problem with ipyc.exe which may go back earlier than 2.7.7.

The /standalone option doesn't seem to be standalone at all.  After I changed my main development machine to  2.7.7 when I tried a program compiled against 2.7.7 on a VM with 2.7.6.3 installed it failed with  the event log showing a file not found exception. After lots of dead end attempts to find out what was wrong  I

[2016-12-14 18:33] slide commented on #1554
What file wasn't found?

[2016-12-14 19:12] andygraham commented on #1554
It doesn't say, but it looked like an assembly resolution failure

[code]

But I am now totally baffled :(

I validated the above finding in the VM by uninstalling and re-installing the two flavours of IronPython, 2.7.6.3 and 2.7.7 and sure enough the failing compiled exes swapped over as expected. The VM is running 32 bit Windows 7 Pro with the error above in the event log.

So I then tried my As

[2016-12-15 00:06] tjhb opened #1555 "2.7.7 .msi installer falsely detects newer version"
Attempting to install IronPython 2.7.7 from its .msi installer over incumbent version 2.7.6.3 throws error "a later version of IronPython 2.7.7 is already installed".

(Not true.)

[2016-12-15 00:10] slide commented on #1555
This is something that can't be fixed because of the way the version for the msi was generated in the past.

[2016-12-15 00:40] tjhb commented on #1555
Thanks. Removing 2.7.6.3 then installing 2.7.7 works fine.
And thanks for all your work. So happy that IronPython is in good hands.

[2016-12-15 12:19] slide commented on #1554
My mistake on the /win32icon stuff, I was reading on my phone and it looked like you were passing a .py file as the parameter to /win32icon.

I don't have IronPython installed on my development machine and I am able to run the compiled exe just fine. My system is Windows 10 64-bit. I'll see if I can get a 32-bit Windows 7 machine to try.

[2016-12-15 12:52] andygraham commented on #1554
Just to try it out I installed my IDE on to a 32bit Windows 7 VM with IronPython 2.7.7 and compiled one of the test exes there. That exe also ran fine on my 64bit Surface Pro without IronPython installed but failed on a 32bit VM so it looks like the runtime environment is what matters.

[2016-12-16 17:35] curly-brace opened #1556 "is it possible to compile to dll without classes being packed into DLRCachedCode, but exposed clearly?"
because i'm trying to use IronPython to use mono bindings of godot game engine, so engine should find the exact class in the dll to execute it

[2016-12-16 17:46] slide commented on #1556
No, there is not a way to do that.

[2016-12-20 01:35] bnuzhouwei opened #1557 "“PythonCompilerTask” failed on 2.7.7 while success on 2.7.5"
“PythonCompilerTask” failed on 2.7.7 while success on 2.7.5。
System.NullReferenceException:
   on IronPython.Runtime.PythonTuple.GetHashCode()
   on System.Collections.Generic.ObjectEqualityComparer`1.GetHashCode(T obj)
   on System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   on System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
   on Microsoft.Scripting.Gener

[2016-12-20 15:22] slide commented on #1557
Can you please give some more information on how to reproduce this?

[2016-12-20 17:01] slide commented on #1557
FYI, PythonCompilerTask is part of the the SharpDevelop code base, not IronPython.

[2016-12-21 13:07] alexey-tyulkin opened #1558 "IronPython 2.7.7 can not load hook from sys.prefix"
There is pms-modules.pth on sys.prefix folder
File contents is "pms/modules"
ipy.exe can not import modules from pms-modules.pth during initialization
See https://docs.python.org/2/library/site.html

IronPython 2.7.3 works true

[2016-12-26 09:04] bnuzhouwei commented on #1557
Thanks, I wan't to use sharpdevelop to build a dll of IronPython.StdLib. Finally, I have done this using pyc.

[code]

[2016-12-26 09:04] #1557 closed, assigned to nobody

[2016-12-27 08:20] bnuzhouwei opened #1559 "is it possible to dev a tool for vscode?"

[2016-12-27 13:50] slide commented on #1559
Please use the mailing list for questions. https://mail.python.org/mailman/listinfo/ironpython-users

[2016-12-27 13:50] #1559 closed, assigned to nobody

[2016-12-27 13:51] #1555 closed, assigned to nobody

[2016-12-27 17:11] pirovorster opened #1560 "IronPython: No module named json"
I have IronPython installed

My python file looks like this:

[code]
The code that runs it:
[code]
It prints out: "2.7.7 (IronPython 2.7.7 (2.7.7.0) on .NET 4.0.30319.42000 (32-bit))" But then fails with the exception: No module named json

As I understand the json module should be included in this version of IronPython.

Why do I get this error?

[2016-12-27 17:41] slide commented on #1560
Please use the mailing list for questions. You need to set the search path for the engine to include the IPy stdlib directory.

[2016-12-27 17:41] #1560 closed, assigned to nobody

[2016-12-27 18:03] pirovorster commented on #1560
Thank you

On Tue, Dec 27, 2016 at 7:41 PM, Alex Earl <notifications@github.com> wrote:

[2017-01-06 01:02] macumber commented on #296
Would love to see this implemented.!

[2017-01-06 02:03] slide commented on #296
I don't think this will get life in the 2.7 releases, but we could look at it for IronPython 3

[2017-01-09 07:31] oblaise opened #1561 "Console streams not working in binary mode"
Dear All,

While testing a sample from Mozilla I discovered the following issue with IronPython: it doesn't seems to support correctly file IO on stdin and stdout when the streams are in binary mode. The same sample running on standard python (2.7.13) was working correctly (On Windows server 2012 for both tests).

The data has the following format: 4 byte representing the length followed by a stri

[2017-01-10 21:24] tomunger commented on #1354
I just ran into this bug with IronPython 2.7.6.3 on Windows.
What is my best option?  Is there a way to get unreleased 2.7.6.4?  Or maybe a std library that works with 2.7.6.3?
Revert to 2.7.5?
Thanks,
Tom

[2017-01-10 21:27] slide commented on #1354
I would try 2.7.7, see https://github.com/IronLanguages/main/releases/tag/ipy-2.7.7

[2017-01-10 22:07] tomunger commented on #1354
Thanks, that worked.
And I learned how to navigate to releases on GitHub.

[2017-01-10 22:10] slide commented on #1354
Glad it's working for you!

[2017-01-11 22:28] glopesdev opened #1562 "Improved syntax for initializing multidimensional arrays"
Currently, initializing a multidimensional array requires something like:

[code]

This does not feel very idiomatic compared to either Python or C#, where there are much better multidimensional array initializers. Indeed:

Python/NumPy:
[code]

C#:
[code]

Besides being more concise, there are three other major nice features in the idiomatic versions:
1. They don't require specifying the array di

[2017-01-14 10:54] alexey-tyulkin opened #1563 "TypeError: RawIOBase: IOBase is not an acceptable base type when import tempfile"
`IronPython 2.7.7 (2.7.7.0) on .NET 4.0.30319.42000 (64-bit)`
`Type "help", "copyright", "credits" or "license" for more information.`
`>>> import tempfile`
`Traceback (most recent call last):`
`TypeError: RawIOBase: IOBase is not an acceptable base type`

[2017-01-14 15:20] slozier commented on #1563
This is working fine for me. Can you provide details on your setup?

[2017-01-14 16:29] glopesdev opened #1564 "IronPython does not support calling Rx.NET extension methods"
Can someone please explain me this really weird observation?

I've been trying to call Rx extension methods from inside IronPython and it is turning out to be simply impossible. I've boiled it down to this simple example:

[code]

In this case we start with normal LINQ. If I call the ```process``` function from my hosting environment with an array or any other ```IEnumerable``` object, it works to

[2017-01-14 17:13] glopesdev commented on #1564
More examples that seem to point out that this is some issue with method call resolution in IronPython:

[code]

This does not work (same as above). But this does:

[code]

Only difference was that the type of the generic method call was specified explicitly. Of course, then the script does not work for any input type.

Interestingly, even this fix fails to correct the behavior with ```Select```.

[2017-01-14 17:34] glopesdev commented on #1564
By the way, here is a simple hosting test setup to reproduce the issue:

[code]

You can replace the script code with different method call variants and see what happens.

[2017-01-16 17:33] devkhan opened #1565 "Question: How can I use a python library in a C#(mono) app?"
I want to develop a cross-platform app based on mono or .NET core runtime, but since I want to use a python library(namely `youtube-dl`) in it. Since, I need to use a python package in a C# app, the native CPython implementation can't be used. Is it possible using IronPython?

PS: The python library is 2.7 compatible.

[2017-01-16 17:55] slide commented on #1565
Please use the mailing list for questions. Does youtube-dl require native libraries?

[2017-01-16 18:01] devkhan commented on #1565
Sure, should I ask this on Gitter?

And no, it doesn't require any native extensions.

[2017-01-16 18:03] slide commented on #1565
Gitter would be fine too. If it doesn't require native extensions, it should work fine with IronPython. You can use pip to install it, just pass -X:Frames to ipy.exe.

[2017-01-16 18:03] #1565 closed, assigned to nobody

[2017-01-16 21:14] alexey-tyulkin commented on #1563
Thanks
I can not reproduce on fresh release archive
Will review my setup

[2017-01-16 21:14] #1563 closed, assigned to nobody

[2017-01-17 20:13] devkhan opened #1566 "`ensurepip` fails on latest version"
Using latest(2.7.7) IronPython, trying to install `pip`, the following happens:

[code]

Mono details:

[code]

Operating system: macOS Sierra (10.12) Beta 7

[2017-01-19 20:41] matthewblott commented on #1566
Personally I've never been able to get ```pip``` to run using Mono - this looks the same as [# 1243](https://github.com/IronLanguages/main/issues/1243).

[2017-01-19 20:41] slide commented on #1566
Agreed

[2017-01-20 09:56] devkhan commented on #1243
Getting this:

[code]

on `IronPython 3.0.0a0 DEBUG (3.0.0.0) on Mono 4.0.30319.42000 (32-bit)` on macOS 10.12.

[2017-01-20 11:53] slide commented on #1243
Ipy3 is in a different repo and is not currently ready for usage.

[2017-01-20 11:54] slide commented on #1243
Didn't mean to close

[2017-01-22 02:11] ahmedbodi opened #1570 "IronPython issue installing PIP"
This is the error i get when trying to install pip. running on Windows 10. Latest Release 2.7.7. 64 Bit Machine
[code]

[2017-01-22 11:38] slozier commented on #1570
I confirm that running `ensurepip` with `ipy64` gives a `StackOverflowException`.

As a workaround I believe you can run it with the 32-bit `ipy` and it will work (and do the same thing). Note that you need to run it with an admin console since it installs files in your program files folder.

[2017-01-22 12:53] ahmedbodi commented on #1570
with ipy it gives the same error

[2017-01-22 12:54] ahmedbodi commented on #1570
[code]

[2017-01-23 22:05] slozier commented on #1570
I managed to reproduce with the following (while running `ipy64` - still works fine for me in 32-bit). Although I can't seem to get it to fail when the debugger is attached.
[code]

Another possible workaround you could try is to try `ipy.exe -X:Frames -X:Debug -m ensurepip`.

[2017-01-23 22:07] slide commented on #1570
-X:ExceptionDetail might be useful too

[2017-01-23 22:08] slide commented on #1570
mimetypes does a registry lookup on Windows I think, maybe the issue is there.

[2017-01-23 22:59] slozier commented on #1570
@slide I also wanted to blame the registry since it was failing on a throw from there, but after watering down the code the following is giving me a `StackOverflowException`:
[code]

`-X:ExceptionDetail` gives nothing. I'm guessing it's because you can't recover from a `StackOverflowException`.

[2017-01-25 09:54] danielschenk commented on #1054
This also happens on:

- Git Bash (actually MinGW bash, I use the one supplied with Git for Windows 2.7.4)
- MobaXterm 7.1

[2017-01-25 16:00] jump3r34 commented on #1570
I got the same error and ran it through debug on VS2015 Ultimate (Or Pro - I can't remember)

To view this debug error - someone may want to paste it into a text editor as it is wrapping lines right here.

`'ipy.exe' (CLR v4.0.30319: ipy.exe): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll'. Symbols loaded.
'ipy.exe' (CLR v4.0.30319: ipy.exe):

[2017-01-25 16:55] slozier commented on #1570
@jump3r34 I'm not seeing an error in there, just info about your assemblies loading.

Note that you can use triple ticks to preserve line endings, for example, the following
\`\`\`
'ipy.exe' (CLR v4.0.30319: ipy.exe): Loaded 'C:\WINDOWS\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll'. Symbols loaded.
'ipy.exe' (CLR v4.0.30319: ipy.exe): Loaded 'C:\IronPython27\i

[2017-01-25 20:15] ahmedbodi commented on #1570
Okay now this is weird.

On my laptop, i was using a local account which has administrator privs. however it is also connected to a domain. Just now i've logged into the domain administrator account and tried it and it works fine. Any idea why?

[2017-01-25 20:32] jump3r34 commented on #1570
I didn't have time to mess with IronPython for hours to get it working, sorry guys.

I am proficient enough with C# and Python individually that the headache was not worth the work.  Both of my windows laptops and office machine was having different errors, however, python2.7 and python3.5 and 3.6 work flawlessly on them and my Macbook.

I was really using it to get a few complicated db functions

[2017-01-25 20:42] ahmedbodi commented on #1570
i now cant install anything because i get a sys_getframe error. ive tried with -X:Frames or X:FullFrames

[2017-01-28 02:04] abhi18av opened #1571 "Is IronRuby dead?"
Hii IronLanguages team:)

I see that in the repo description it's mentioned that it houses `Implementations of Python and Ruby ...` but the main repo is pure python plus I see that some efforts are being made to port this to `python3` whereas `ruby` isn't mentioned at all.

My question is that is there any hope for a tangible alternative to `jRuby` on the `dotNET`?

[2017-01-28 02:13] slide commented on #1571
It's been moved to its own repository under IronLanguages. This repo is for IronPython 2 and there is a separate repo for IronPython 3. There were some folks interested in IronRuby, but we are not part of any effort to keep it up.

[2017-01-28 02:13] #1571 closed, assigned to nobody

[2017-01-30 11:57] pekkaklarck opened #1572 "Using pip fails with `IndexError: index out of range: -1`"
After installing IronPython 2.7.7 and running `ipy -X:Frames -m ensurepip`, trying to install a package or just check the installed pip version fails like this:

[code]
Same problem if I just try to check installed pip version with `--version` or run the installed `pip.exe` directly.

[2017-01-30 11:58] pekkaklarck commented on #1572
Same problem also if I run the installed `pip.exe` directly.

[2017-02-01 05:56] radek673 opened #1573 "No module named google.protobuf.descriptor"
1. python 2.7.13 installed and pip install gmusicapi (all dependencies installed)
2. IronPython 2.7.7 via nuget in visual studio 2015

I can use gmusicapi classes without problems when running python.exe and all is working properly.

When trying with IronPython from c#:

           var pyEngine = Python.CreateEngine();

            var paths = pyEngine.GetSearchPaths();
            paths.Add(@"c:\

[2017-02-02 07:42] radek673 commented on #1573
Noone ? I'm willing to pay for resolving this issue, please contact me ! :) I believe gmusicapi could work with IronPython...

[2017-02-02 07:50] simplicbe commented on #1573
Are you able to use `google-protobuf` in a kind of sample script? For example using the interpreter?

[2017-02-02 08:03] radek673 commented on #1573
just tried:
            pyEngine.Execute("from google.protobuf.message import DecodeError", pyScope);
            pyEngine.Execute("from google.protobuf.descriptor import FieldDescriptor", pyScope);

neither of these works, same exception...

[2017-02-02 08:07] radek673 commented on #1573
but it works with python.exe

[2017-02-02 08:09] simplicbe commented on #1573
Ok, but the the package is in `c:\python27\lib\site-packages`?

[2017-02-02 08:15] radek673 commented on #1573
yes everything is properly installed. as i said, its working with python.exe and it is not with IronPython. so i guess the problem must be somewhere with IronPython...

[2017-02-02 08:19] radek673 commented on #1573
![untitled](https://cloud.githubusercontent.com/assets/24856681/22541763/a334ae98-e928-11e6-8468-70e5228b72d8.png)

here my directory structure...

[2017-02-02 08:21] radek673 commented on #1573
my apologize, wrong image, here is correct one :)

![untitled](https://cloud.githubusercontent.com/assets/24856681/22541805/fad6403a-e928-11e6-97ba-cd1ddffeb951.png)

[2017-02-02 14:51] slide commented on #1573
Does that directory only contain .pyc files for the module? IronPython doesn't support .pyc files (precompiled python bytecode).

[2017-02-02 15:06] radek673 commented on #1573
it contains .py for every .pyc....

[2017-02-02 21:17] slozier commented on #1573
Doesn't look like it'll work without some work:
[code]

This failure appears to have to do with the frame stack:
[code]

[2017-02-03 08:42] radek673 commented on #1573
thanks slozier for the investigation... but what does it mean ? i'm quite new to IronPython, what can i do with it ?

[2017-02-04 11:47] uvermin commented on #1187
Hello,
I've experienced a problem similar to the one described here.
I'm using the latest version of IronPython (2.7.7), on a windows10 64 bit.

I'm calling to python from C#, in a multi-threaded environment.
My python code uses a lot of isinstance calls, and some of them (about once every 10,000 times) I get either a "SystemError: Handle is not initialized." or a "ValueError: Index was out of ran

[2017-02-04 11:51] uvermin opened #1574 "SystemError: Handle is not initialized. in _weakrefset.py still happens"
Hello,
I've experienced a problem similar to the one [in this closed issue](https://github.com/IronLanguages/main/issues/1187).
I'm using the latest version of IronPython (2.7.7), on a windows10 64 bit.

I'm calling to python from C#, in a multi-threaded environment.
My python code uses a lot of isinstance calls, and some of them (about once every 10,000 times) raise either a "SystemError: Handle

[2017-02-04 14:35] slozier commented on #1574
If you could provide an example to reproduce the issue that would be helpful.

[2017-02-04 14:38] slozier commented on #1573
@radek673 It involves parts of the system which I'm not too familiar (frames). Other than trying to fix the C# code for frames I'm not sure if there's a workaround...

[2017-02-04 15:01] radek673 commented on #1573
ok, are there any chances it will be fixed (soon) ? :)

[2017-02-06 08:49] kunom commented on #1574
@uvermin: Alternatively, it would be great if you could provide us with the underlying CLR stack trace information (use the _-X:ExceptionDetail_ and _-X:ShowClrExceptions_ interpreter startup flags).

[2017-02-06 09:39] pekkaklarck commented on #1573
@slozier I doubt that `IndexError` inside `pyparsing` is the real root cause for this issue. It seems to be a rather sever problem, though, because it prevents me from using pip as I reported in #1572.

[2017-02-06 10:20] radek673 commented on #1573
please fix it, this is basic functionality, blocker that makes IronPython USELESS.... you cannot even use simple 3rd party library with IronPython.... only statements "a := b" are compatible... pitty... :(

[2017-02-06 12:47] slozier commented on #1573
@pekkaklarck I am aware there are a number of issues with pip. However, I did not mean to imply that the pyparsing failure had anything to do with pip. I was just pointing out that even we got past the installation issue that would not be the end of it (getting gmusicapi to work).

[2017-02-06 13:01] slozier commented on #1572
I haven't been able to reproduce this using the steps provided (install IronPython 2.7.7, run ensure pip and then "try to do anything with pip").

After hitting the same issue while investigating #1573 I did boil it down to a simple repro case which does not invlove pyparsing: https://github.com/IronLanguages/main/issues/1573#issuecomment-277086607

[2017-02-06 14:21] slide commented on #1573
@radek673 you're welcome to debug and submit a fix yourself.

[2017-02-06 18:50] andygraham commented on #1574
In my mail archives I have an IronPython-users email interchange with Andres Sommerhoff from April 2015 who suffered something exactly like this with those two exceptions arising from repeated use of isinstance() and posted in the thread you reference. The email subject is "weakref random "SystemError" and "ValueError" exception (affecting _weakrefset.py and abc.py)".

 It smells like some sort of

[2017-02-07 15:40] kunom commented on #1574
On my machine, I cannot reproduce any exception from [the code mentioned above](https://mail.python.org/pipermail/ironpython-users/2015-April/017442.html), not even when running one million iterations.

My changes at #1198 should at least have dealt with the "SystemError: Handle is not initialized" error, regardless of missing synchronization, that's why am interested in the CLR stack trace. If yo

[2017-02-07 17:07] cwt commented on #1243
FYI: I also got this on Fedora 25, Mono JIT compiler version 4.4.2

[code]

[2017-02-07 20:57] slide commented on #1243
Yeah, the isatty function currently will only work on Windows. It calls GetStdHandle via P/Invoke, which doesn't exist on non-Windows platforms.

[2017-02-08 13:29] radek673 commented on #1573
creating an empty  __init__.py in <pythondir>\Lib\site-packages\google solved the problem, sadly, there are more issues :/

I think the condition could be fooled in IronPython sources if the file is missing...

[2017-02-08 15:12] jagaudin commented on #1284
Sorry for the delay.

[2017-02-09 14:14] slozier opened #1578 "sys.exit behavior not consistent with CPython"
In CPython (at least on Windows) if `sys.exit` is called with a non-integer value then the value is output to stderr.

In IronPython, non-integer values are not output to stderr. Furthermore it appears that if the argument is a tuple of one element, its value will be extracted from the tuple and used as the exit code.

Reference: https://docs.python.org/2/library/sys.html#sys.exit

[2017-02-09 14:47] #1284 closed

[2017-02-22 03:23] damirdev opened #1579 "IronPython 2.7.7 - pyc.py doesn't compile to exe/winexe"
This pull request https://github.com/IronLanguages/main/pull/1528/files break reflection in pyc.py:

C:\dev\src\ch01>"C:\Program Files\IronPython 2.7\ipy.exe" "C:\P
rogram Files\IronPython 2.7\Tools\Scripts\pyc.py" /target:exe /main:funcs.py /ou
t:funcs
Input Files:
Output:
        funcs
Target:
        ConsoleApplication
Platform:
        ILOnly
Machine:
        I386

Compiling...
Traceback (most

[2017-02-22 04:03] slide commented on #1579
Pyc.py is deprecated, please use ipyc.exe

[2017-02-22 13:18] slozier commented on #1579
@slide In that case we should probably remove pyc.py from the release package.

[2017-02-22 13:27] slide commented on #1579
Agreed

[2017-02-22 21:45] damirdev commented on #1579
Thanks :)

[2017-02-22 22:00] #1579 closed, assigned to nobody

[2017-02-24 06:36] whaozl opened #1580 "install numpy, but AttributeError: 'module' object has no attribute '_getframe'"
[code]
And, I udpate the pip to pip9.0.1 by:
[code]
Then, install the numpy:
[code]

[2017-03-01 15:13] atulatri opened #1581 "Splash screen"
Hi,

We created windows executable using ipyc.exe. It takes around a minute or so before GUI screen appears.

Is there any way we can add splash screen in executable?

Thanks & Regards,
Atul Atri.

[2017-03-01 15:41] slide commented on #1581
There currently isn't support for that right now. It could be added. Have you looked at why it's taking so long?

[2017-03-01 16:55] slozier commented on #1581
If it's not the exe itself that's slow to load, you could use a 3rd party library to show a splashscreen. For example:
[code]
Note that in this case I referenced ClassLibrary.dll which is an empty library with a single image resource (Resources/Image.png) because the SplashScreen api wants to load the image from an assembly. But you could always find a different one that loads directly from an ima

[2017-03-02 10:38] atulatri commented on #1581
@slide
I haven't checked yet. Any pointer how should we investigate if it is EXE itself or something else.

@slozier
Thanks for suggestion. I will try it out.

[2017-03-03 23:12] iondiode commented on #1379
Happening to me too :(

debug log from pydev/eclipse
[code]

[2017-03-03 23:17] slide commented on #1379
I was unable to determine why this was happening back in November. I could look again soon.

[2017-03-03 23:26] iondiode commented on #1379
running this command at prompt gave

[code]
But it seems to be ok if i start a dummy server on that port (eg nc -l 53089)  yields

[code]

[2017-03-05 15:47] axeldomingues opened #1582 "Installing Sho 2.1 on IronPython 2.7 fails"
After installing the lateste IronPython(2.7.7 released on 2016-12-07) and Sho 2.1, thereafter i launched Sho 2.1 and it did failed with the following error description:
Loading sho...
Traceback (most recent call last):
  File "C:\Program Files (x86)\Sho 2.1\bin\\..\sho\shostarter.py", line 8, in <module>
  File "C:\Program Files (x86)\Sho 2.1\sho\sho.py", line 97, in <module>
  File "C:\Program Fi

[2017-03-05 17:00] andygraham commented on #1582
The version of Microsoft.Dynamic in IronPython 2.7.7 is 1.1.2.22. I think that the only way this would work is if Sho was recompiled against the IronPython 2.7.7 assemblies but I guess you are stuck with IronPython 2.7.6 as I can't see that the Sho source code is available anywhere.

[2017-03-05 21:28] axeldomingues commented on #1582
Thank you for pointing this out. Indeed it is a problem in Sho that needs to be addressed by Sho team.

Kind Regards,
Axel

[2017-03-05 21:28] #1582 closed, assigned to nobody

[2017-03-07 17:11] maxmont commented on #1239
Hi,

I try also to debug python script hosted by my app.
How can I place breakpoints?

Thanks

[2017-03-08 01:11] kjokay opened #1583 "Random only generating between 0 and 0.5 in 2.7.7"
I might be crazy, but going through various tests, I've only been able to generate random numbers between 0 and 0.5 using the random.random() module function in python.

Similar results using the random() function of the IronPython.Modules.PythonRandom.Random class.

Finally, looking at the code in _random.cs, the random() function, the following code never returns a value greater than 0.5 either:

[2017-03-08 03:14] slozier commented on #1583
You are not crazy, it's clearly a bug.

`_rnd.Next()` generates a value between 0 and 0x7FFFFFFF while the equation expects values between 0 and 0xFFFFFFFF. That gives a maximum possible value of 0.4999999962747096.

[2017-03-08 04:31] slide commented on #1583
I'll fix soon

[2017-03-08 18:05] #1583 closed, assigned to nobody

[2017-03-08 20:09] as-lg opened #1585 "Selenium WebDriverException when opening a browser in Robot/IronPython"
I receive the error below using RobotFramework/Selenium2Library with IronPython, however, I don't using Python 27. My Paths are correct as I can execute IEDriverServer anywhere in the cmdline. The issue seems to be related with IP and Selenium2Library.

The executable IEDriverServer.exe needs to be available in the path. Please download from http://selenium-release.storage.googleapis.com/index.htm

[2017-03-10 07:59] hoyeunglee opened #1587 "error when convery python script to executable file"
ipy.exe "C:\Program Files (x86)\IronPython 2.7\Tools\Scripts\pyc.py" /main:replaceicecloudappli
cation.py /target:exe
Input Files:
Output:
        replaceicecloudapplication
Target:
        ConsoleApplication
Platform:
        ILOnly
Machine:
        I386

Compiling...
Traceback (most recent call last):
  File "C:\Program Files (x86)\IronPython 2.7\Tools\Scripts\pyc.py", line 332, i
n <module>
  F

[2017-03-10 08:01] hoyeunglee opened #1588 "some words can not be replaced in MS Word file template for some row record in window 7"
i use these code with ironpython with the same template,
first row record it has missing field which can not be replaced and one or two record has missing to replace
and checked that it has value shown in console

i had already delay 3 seconds , is it MSWORD problem? why some files succeed but why can not?

[code]

[2017-03-10 10:33] slide commented on #1587
Pyc.py is no longer supported, please use ipyc.exe

[2017-03-10 10:33] #1587 closed, assigned to nobody

[2017-03-10 12:04] hoyeunglee commented on #1587
What is the command to use it to connect convert py script to executable file?

[2017-03-10 12:38] gagnus opened #1589 "import hashlib not working on linux/mono"
I'm in the process of moving a .NET console application that uses IronPython 2.7.5 to Mono to run on Linux. Moving the code and IronPython DLLs and compiling using xbuild seems to work, however the ironpython cannot find the hashlib import when running through Mono (it works fine on Windows through .NET). Running cpython (2.7) on the same linux box I can definitely import hashlib and running on wi

[2017-03-10 13:03] slide commented on #1589
The first release to have any sort of real mono testing is 2.7.7. You probably won't be able to do much on Linux with anything before that.

[2017-03-10 13:28] gagnus commented on #1589
Thanks - there's no particular reason I'm still at 2.7.5 so will upgrade. Closing this and will reopen if still issues.

[2017-03-10 13:28] #1589 closed, assigned to nobody

[2017-03-10 13:54] slide commented on #1587
Sorry, I didn't mean to close the issue.

[2017-03-11 01:28] hoyeunglee commented on #1587
How to convert script to executable file?

[2017-03-11 04:11] slide commented on #1587
Usage: ipyc.exe [options] file [file ...]
Options:
    /out:output_file                          Output file name (default is main_file.<extenstion>)
    /target:dll                               Compile only into dll.  Default
    /target:exe                               Generate CONSOLE executable stub for startup in addition to dll.
    /target:winexe                            Generate WINDOW

[2017-03-11 04:13] slide commented on #1587
See this file https://github.com/IronLanguages/main/blob/ipy-2.7-maint/Languages/IronPython/IronPythonCompiler/ConsoleOps.cs

[2017-03-11 11:07] hoyeunglee commented on #1587
no files or valid field defined,

C:\Users\martlee2\Documents\replaceicecloudapplication>ipyc.exe /main:replaceicecloudapplication.py /target:replaceicecloudapplication.exe

C:\Users\martlee2\Documents\replaceicecloudapplication>ipyc.exe /main:C:\Users\m
artlee2\Documents\replaceicecloudapplication\replaceicecloudapplication.py /targ
et:C:\Users\martlee2\Documents\replaceicecloudapplication\replac

[2017-03-11 12:14] hoyeunglee opened #1590 "when print word document has revision markup, how to print without markup"
when print word document has revision markup, how to print without markup

[code]

[2017-03-12 11:01] paweljasinski commented on #1590
hi,
This is more like a docx/automation question than ironpython.
I suggest you try your luck at stackoverflow (docx, ms-word)
There is also http://ericwhite.com/blog/forum
--pawel

On Sat, Mar 11, 2017 at 1:14 PM, Ho Yeung, Lee <notifications@github.com>
wrote:

[2017-03-12 13:40] moshearuch commented on #1580
The same with google-apputils.

[2017-03-14 15:43] slide opened #1593 "Debug test_virtual_property in test_property_override.py on mono"
The test is currently failing only on mono, which leads me to believe that there is a bug in mono somewhere.

[2017-03-14 15:46] slide opened #1594 "Re-enable chained LINQ test in test_cliclass.py when mono issue is fixed"
https://bugzilla.xamarin.com/show_bug.cgi?id=53295

[2017-03-14 15:47] slide opened #1595 "Debug test_assembly_resolve_isolation in test_clrload.py on Mono"
The test currently fails for assembly resolution only on mono, need to debug and file a mono issue if necessary

[2017-03-14 15:48] slide opened #1596 "Debug test_method_dispatch on Mono"
Mono seems to put in a different value for [Optional] parameters than MS.NET, need to debug why and file a mono issue if necessary.

[2017-03-14 15:48] slide opened #1597 "Reenable latin-1 tests in IronPython/Tests/test_str.py when mono bug is fixed"
https://bugzilla.xamarin.com/show_bug.cgi?id=53296

[2017-03-14 15:50] slide opened #1598 "Reenable tests in test_strformat.py on mono once it supports the format specifiers needed"
Need to file an issue on mono that it doesn't support custom format specifiers for BigIntegers. Two tests are disabled in test_strformat.py because of this.

[2017-03-14 15:51] slide opened #1599 "Reenable test_asyncchat on Unix once we have an implementation of the fcntl module"

[2017-03-14 15:53] slide opened #1600 "Reenable test_makefile_refcount in socket_test.py once debugged on Mono"
The test fails only on Mono.

[2017-03-14 19:30] jenokizm opened #1601 "Error installing pip packages"
I need to set it permissible pystun. (https://pypi.python.org/pypi/pystun)
i now run cmd command:
`ipy -X:Frames -m pip install pystun`
but i have error output:
[code]

[2017-03-14 22:32] slide opened #1603 "test_math.py gets an overflow error on mono, but not windows"

[2017-03-14 22:34] slide opened #1604 "test_mmap has a failure when mmap.mmap(-1, 1) is called"

[2017-03-14 22:35] slide opened #1605 "test_mmap has failure for unix flags (PROT_READ, etc)"

[2017-03-14 22:37] slide opened #1606 "test_uuid fails because we don't implement pipe on Linux"

[2017-03-14 22:39] slide opened #1607 "Side-by-side tests can have problems on Linux because of 32-bit vs 64-bit versions of CPython"
Some of the sbs tests use sys.maxint, which for IronPython is Int32.MaxValue, but the local python install could be 64-bit, which means sys.maxint is Int64.MaxValue.

[2017-03-14 22:42] slide opened #1608 "Decoding/Encoding are different on Mono than on Windows"
This affects several different test areas like codecs_test, test_ntpath and others.

[2017-03-15 01:03] slide commented on #1606
fd_test also has pipe tests that fail.

[2017-03-15 01:05] slide opened #1609 "Review test_dup2 in fd_test.py to see if applicable to Linux"

[2017-03-15 18:17] reima opened #1610 "Manual loop over System.Collections.Generic.List makes no progress after >100 iterations"
# Summary

[code]

After about 100 iterations the loop makes no progress anymore, printing the same number ad infinum.

# Notes

* Normal iteration with `for x in lst` does not expose this problem.
* Some other .NET collection types like `System.Collections.ArrayList` are not affected.
* There is no endless loop when the current item is not printed (`next(it)` as loop body).

# Analysis

I'm not o

[2017-03-15 19:29] slide commented on #1610
The next should raise StopIteration like the following in C Python.

[code]

[2017-03-16 17:37] n-kovacevic opened #1611 "Opening already opened file with io.open() returns IOError."
Trying to open file for reading that is already in use by other process results in IOError exception.
This happens only when using open method from io module, not when using built-in open method.

Example in IronPython 2.7.5 and 2.7.7:
[code]
The same code in CPython 2.7.13 doesn't raise exception:
[code]
Main problem with this is that **pathlib** library also uses io.open and not built-in open me

[2017-03-16 18:01] slozier commented on #1611
@slide I believe this one was fixed with #1586?

[2017-03-16 19:21] slide commented on #1611
Yes, I think it should be.

[2017-03-17 13:22] #1480 closed, assigned to simplicbe

[2017-03-23 12:31] johngpayne commented on #1583
Is there a way of getting a prebuilt windows DLL version with this fix in?

[2017-03-23 14:44] slozier opened #1614 "Deprecation warning no longer raised on object.__init__"
While @042e870 resolved issue #1526 it incorrectly removed deprecation warnings for the following type of calls:
[code]

[2017-03-23 16:41] slide opened #1615 "Re-enable test_coverage in test_file.py once debugged on Linux"
This test may rely on Windows file endings in some spots.

[2017-04-03 10:39] harim1993 opened #1616 "NLTK import in IronPython"
Hi,

Could anybody help me in importing NLTK in IronPython.  I need help in below items.

Downloading NLTK package for IronPython
Import NLTK package in IronPython project
Access IronPython package through C#

[2017-04-05 11:51] slide opened #1617 "Re-enable test_unicode_error in Tests/test_unicode.py after debug"
test_unicode_error is causing the following, needs debug to see if there is something we need to do in IronPython to work around it, or if we need to file a file.

[code]

[2017-04-05 12:02] slide opened #1618 "Re-enable Tests/test_file.py on Mono when mutex issue is debugged"
Currently getting the following error at the end of test_file.py

[code]

Need to debug and file an issue on mono if necessary.

[2017-04-05 13:38] slide opened #1619 "Re-enable Tests/test_threadsafety.py test_all when mono issue is debugged"
Mono is throwing the following error on test_threadsafety.py

[code]

[2017-04-07 06:14] honekamp opened #1620 "MSI Installer ProductVersion 2.7.6 vs 2.7.7"
The value of property ProductVersion in the MSI of V2.7.6 is set to 2.7.**61003**.0.
The value of property ProductVersion in the MSI of V2.7.7 is set to 2.7.**7**.1000.

This means that the MSI of V2.7.7 **refuses to install** over an existing installation of 2.7.6, claiming that the **installed version is newer** then the one attempted to install (61003 > 7).

I totally support fixing broken Prod

[2017-04-07 12:41] slide commented on #1620
There will never be a 2.8 according to Guido, so the decision was made to make this change, fully understanding the issues it might cause.

[2017-04-07 12:41] #1620 closed, assigned to nobody

[2017-04-08 16:18] Varbin commented on #1601
Same here (while upgrading pip). My log:
[code]

[2017-04-09 04:46] slide opened #1621 "Re-enable test_expandvars_nonascii in test_ntpath and test_genericpath"
Tests are failing on Mono for different encoding output.

[2017-04-09 04:46] slide opened #1622 "Re-enable modules.network_related on Mono"
The test throws an exception at the end which causes the overall test to fail.

[2017-04-12 11:28] Varbin commented on #1601
@jenokizm You may try a manual installation: Downloding the Tarball, extracting it (with e.g. 7z or WinRAR) and run `ipy -X:Frames setup.py install`. But you MUST install all dependencies before otherwise it will try to download it (which does obvisously not work).

[2017-04-12 19:03] slide opened #1626 "URL redirection test gets wrong message - re-enable after debug"
See test/test_urllib.py test_invalid_redirect, it gets a different message than it is expecting.

[2017-04-12 21:10] slide commented on #1414
Closed via #1625

[2017-04-12 21:10] #1414 closed, assigned to nobody

[2017-04-19 12:52] jpmaterial opened #1628 "SimpleHTTPServer import causes stack overflow"
The simple act of importing SimpleHTTPServer causes a stack overflow. I'm on Windows 10. It's the same under cmd.exe, PowerShell and MinGW. This is my complete console output:

<pre>IronPython 2.7.7 (2.7.7.0) on .NET 4.0.30319.42000 (64-bit)
Type "help", "copyright", "credits" or "license" for more information.

Process is terminated due to StackOverflowException.</pre>

[2017-04-19 14:29] slide commented on #1628
I just tried this on my codebase that has this fix in it #1625 and I don't see the StackOverflowException.

[2017-04-19 15:03] jpmaterial commented on #1628
That's good. When will the next release with this fix be?

[2017-04-19 15:41] slide commented on #1628
I'd like to do one within the next couple of weeks.

[2017-04-19 17:23] slozier commented on #1628
@slide I don't think this one is related to #1625. I can reproduce over here on 64-bit (although only intermittently).

[2017-04-19 17:57] slide commented on #1628
Ok, we can continue to look into it of course.

[2017-04-20 01:56] slozier commented on #1628
May be related to #1070.

[2017-04-20 02:16] slozier commented on #1628
Did a bit of digging and boiled it down to the following repro:
[code]
This seems to fail somewhat consistently for me when run with ipy64.

[2017-04-20 06:53] jpmaterial commented on #1628
Bingo, that reproduction produces a stack overflow for me too.

[2017-04-20 23:54] slide commented on #1601
Please don't upgrade pip, we have a specific version that we package with ironpython right now,

[2017-04-24 16:14] michaelblyons opened #1629 "String formatting of `bool` type"
IronPython 2.7.7rc2

[code]

Default Python2 (and maybe Python3?) do not handle this super-well either. They appear to apply `int()` formatting:

[code]

All cases can be coerced with `...format(str(True))`, but it's kind of weird to expect padding and receive none.

[2017-04-24 16:53] slozier commented on #1629
Looks like the format spec is ignored for bool:
https://github.com/IronLanguages/main/blob/827af8c068d823629945ce3bf76febb7a5f79c9b/Languages/IronPython/IronPython/Runtime/Operations/BoolOps.cs#L92

Side note: We should probably match the CPython behavior and display a number when formatting with an alignment.

[2017-04-28 14:55] fabioz opened #1630 "Support for sys._current_frames"
Hi IronPython team ;)

I've just updated the PyDev debugger to drop support for older Python versions and it seems I ended up breaking debugging in the current IronPython version because of it...

The issue is that PyDev now requires sys._current_frames to be implemented by the interpreter (available since Python 2.5), but it seems this is not available for IronPython -- this is needed so that the

[2017-05-05 20:00] Frame42 opened #1632 "console output order"
In the python console, stderr and stdout happen out of order. This can be confusing if you are debugging or encounter an error. The following code gives me the interleaved output below.
[code]

[code]
The interrupt trace is never at the same place while CPython always renders it at the end of the first buffer. Is this an intended behavior ?

[2017-05-05 20:59] slozier commented on #1632
I'm not getting the interleaved behaviour over here. Can you give a bit more info about your setup so we can try to reproduce?

[2017-05-08 12:00] Frame42 commented on #1632
IronPython 2.7.7 (2.7.7.0) on .NET 4.0.30319.42000 (32-bit)
I just noticed, there is no interleave in the command line, only if I run the script inside Pycharm 2017.1.2.

[2017-05-08 12:00] #1632 closed, assigned to nobody

[2017-05-09 19:52] slozier opened #1636 "eval with None as locals argument doesn't behave properly"
This should fail but doesn't:
[code]

[2017-05-09 22:26] #1636 closed, assigned to slozier

[2017-05-11 16:18] slozier opened #1638 "Repeated hashing doesn't work properly with .NET Core"
Because of the [different implementation](https://source.dot.net/#System.Security.Cryptography.Algorithms/System/Security/Cryptography/SHA1Managed.cs,5d9dbfaea57ea7b8) of hashing in .NET Core `CloneHasher` doesn't work as expected and doesn't actually create a clone. This causes test failures with repeated hashing.

[2017-05-11 19:08] slozier opened #1639 "Error handler for non-builtin encodings are not being called"
Here's the repro code:
[code]

[2017-05-12 17:39] slozier opened #1640 "Add support for facade assemblies"
.NET Core 2.0 includes facade assemblies (for example System.Xml.dll) which simply contain a bunch of `TypeForwardedTo` attributes pointing to another assembly. These forwarded types are not exposed via reflection and so there is no way to enumerate over the types available in these facade assemblies. For example, the following fails:
[code]

Investigate using System.Reflection.MetadataReader as a

[2017-05-12 19:15] nagayev opened #1641 "Python 3"
Plz add support for Python 3.

[2017-05-12 19:16] slide commented on #1641
See IronLanguages/ironpython3.

[2017-05-12 19:16] #1641 closed, assigned to nobody

[2017-05-12 19:41] slozier opened #1642 "test_math_cpy fails in 64-bit"
The culprit is `lgamma(2.5599833278516301e+305)` which throws an `OverflowError` in 64-bit.

[2017-05-15 17:50] #1381 closed, assigned to nobody

[2017-05-15 17:50] #1395 closed, assigned to nobody

[2017-05-15 17:51] #1398 closed, assigned to nobody

[2017-05-15 17:51] #1399 closed, assigned to nobody

[2017-05-15 21:36] #1642 closed, assigned to nobody

[2017-05-16 22:50] slide commented on #1072
This is fixed in #1646

[2017-05-16 22:50] #1072 closed

[2017-05-17 01:27] #1611 closed, assigned to nobody

[2017-05-17 01:31] slozier commented on #1628
I think this is the same issue as #1570

[2017-05-17 02:25] slozier opened #1650 "Upgrade pip to 9.0.1"
We should upgrade the pip we distribute to 9.0.1. Whenever people currently use pip they see the following message:

You should consider upgrading via the 'python -m pip install --upgrade pip' command.

and then try to upgrade which tends to cause more issues to pop up.

[2017-05-17 02:44] slide commented on #1650
Yes, but trying 9.0.1 causes more issues...I would almost rather patch the version of pip we have to not print that message.

[2017-05-17 03:28] slozier commented on #1650
Hmm, I managed to install and use 9.0.1 over here. I'm not familiar with what tweaks had to be done to pip so maybe I'm missing something. Will do more testing tomorrow.

[2017-05-17 13:27] slozier commented on #1650
Alright, I ran a few more tests and am hitting issues as well. Let's go with patching the version of pip to not display.

[2017-05-17 14:43] #1629 closed, assigned to nobody

[2017-05-17 14:50] slide commented on #294
We're still missing setting the "-c" for the module name

[2017-05-17 14:59] slozier commented on #1127
Repro code:
[code]

[2017-05-17 18:34] teapejon opened #1651 "Links in you site"
You have broken links when I am on the .net code example page, get it done son.

[2017-05-17 18:51] slide commented on #1651
Can you provide some additional information? Like the link to the page(s) you are talking about?

[2017-05-17 19:11] slozier opened #1652 "Drop support for Microsoft.Scripting.Core"
This would include dropping support .NET Framework 3.5. We could also remove code targeting other platforms which require this and are not currently supported (WindowsPhone and Android).

[2017-05-17 19:13] slozier opened #1653 "Drop support for Silverlight"
Silverlight is deprecated and doesn't work in most browsers anymore.

This would include dropping Chiron and Microsoft.Scripting.Silverlight.

[2017-05-17 19:20] slozier opened #1654 "Switch to using IronLanguages/dlr"
We are currently supporting two different DLRs which is a waste of effort. We should switch the codebase to use IronLanguages/dlr.

[2017-05-17 19:30] slozier opened #1655 "Move IronLanguages/main to IronLanguages/ironpython2?"
As part of #1652 #1653 and #1654 I would suggest forking IronLanguages/main into IronLanguages/ironpython2 where we could:
- rework the file hierarchy into something matching the IronLanguages/ironpython3 repo
- rename the ipy-2.7-maint branch to master (and drop master)

[2017-05-18 23:52] AndrewSav opened #1656 "Application does not run on mono 5 runtime."
When running:

[code]
I'm getting the following output:

[ipy.log.tgz.zip](https://github.com/IronLanguages/main/files/1012701/ipy.log.tgz.zip)

This is on mono 5 on Fedora 25. IronPython is from IronPython-2.7.7rc2-unix.tar.bz2

The exception reported in the first line of the log attached is:

[code]

[2017-05-24 23:08] hmflash opened #1657 "Crash in WeakRefTracker finalizer with mono 5"
Mono 5 crashes during exit when the WeakRefTracker finalizer runs.  I'm not sure if this is a mono bug or an IronPython bug.  All my application does is import a module and exit.  Some modules do not exhibit this problem (`time`) where other modules do exhibit this problem (`code` `xmllib`). This does not reproduce on mono 4.8.  My test application is using the IronPython 2.7.7 nuget package.

My

[2017-05-25 08:44] hemnstill opened #1658 "json module raise error when run with -X:Python30 argument."
I'm trying to update IronPython 2.7.5 → 2.7.7.
When running ipy64.exe with argument -X:Python30 i get an error.

IronPython-2.7.7\Lib\json\decoder.py", line 18, in _floatconstants
TypeError: expected str, got bytes

Everything works fine in version 2.7.5 or without -X:Python30 argument in version 2.7.7.
I don't want to remove this argument and modify my existing code.

[2017-05-25 09:38] Lysander83 opened #1659 "traceback.format_exc() not working"
We have a .net 4 program that hosts IronPython engine. if an exception is raised while running the script then we cannot get the stack trace information by traceback.format_exc()
It worked with IronPython 2.7.5
We cannot reproduce it by running IronPython 2.7 ipy.exe

[2017-05-25 12:54] slozier commented on #1659
I haven't been able to reproduce. Some more details would be helpful. I tried running the following and it worked fine:
[code]

[2017-05-25 13:25] Lysander83 commented on #1659
I do not what to say.
I will try to make a simple app to reproduce it next week.
Our IronPython engine uses py files. Maybe it is important.
The traceback and other modules were imported from IP 2.7.7 in both cases the working and not working so the problem must be in IronPython.dll or other dll.

The working version generates the following output:
Traceback (most recent call last):
  File "C:\tem

[2017-05-25 13:26] Lysander83 commented on #1659
Sorry, I have never used github before.
It is still open for me.

[2017-05-25 13:39] slozier commented on #1658
Most likely the json module changed when we updated the stdlib. This should be fixable by adding an overload to the `struct` module.

[2017-05-26 13:02] walkindude opened #1660 "Misleading ArgumentTypeException message when calling C# method"
Hello, this is not a bug per se, but rather something I just noticed. I'm including a minimal example console app that will throw with the unexpected message **Expected Char, got str**, further discussion below the code.

By the way, this is **IronPython v2.7.7 on .NET 4**.

[code]
Now, the signature of method `Bar` of class `Foo` is of course wrong, in that the last parameter should be `double` r

[2017-05-26 14:30] slozier commented on #1660
Are you sure your minimal example is correct? Seems to me like `Expected Char, got str` is the correct message in that Bar expects a char but you're passing it the string `a`.

[2017-05-26 14:33] walkindude commented on #1660
I'm pretty confident it is correct, yes. If you change `Bar` to take a `double` instead of a `float`, the call will succeed, with `'a'` being correctly cast to `char`.

Of course, passing `'aaa'` instead of `'a'` will throw as intended.

**EDIT:** furthermore, if you change the Python part to leave out the third parameter, again everything works flawlessly.

[2017-05-26 14:57] slozier commented on #1660
Ah I see. I ran a few more tests and it seems to be an issue only when using char and float together in the definition. Seems like a bug. Here's the amended test code:
[code]

[2017-05-26 15:00] walkindude commented on #1660
Yes, to my untrained eye it really does look like some weird interaction taking place when a `char` parameters enters the picture.

The first parameter to `Bar` was there just because it was taken from the actual code I needed to call from IronPython, I forgot to leave it out. Sorry about that.

[2017-05-28 11:02] nagayev commented on #1641
@slide thanks

[2017-05-29 03:40] Hypnoes opened #1661 "IronPython 2.7.7 is not compatible with dotnet core 1.1"
As the title said.

[2017-05-29 12:18] Hypnoes commented on #1661
oh, I'm find the solution by my-self. I'll close this issue. 😆

[2017-05-29 12:18] #1661 closed, assigned to nobody

[2017-05-30 19:49] fabioz opened #1663 "Crash when using unquote_plus"
The following use of unquote_plus crashes IronPython (and makes it impossible to use in PyDev).

"c:\bin\IronPython 2.7.7\ipy.exe" -X:Frames  -X:ExceptionDetail -X:ShowClrExceptions -c "from urllib import unquote_plus; unquote_plus('pydev%5Cplugins%5Corg')"

This worked properly on 2.7.5.

[2017-05-30 20:15] slozier commented on #1660
After doing a bit of digging, it appears that the DLR uses different "narrowing levels" to figure out what type conversions are allowed. Looking at `IronPython.Runtime.Converter.HasNarrowingConversion` the `string` to `char` conversion is at level "IndexOperator" while the `double` to `single` conversion is at level "All". It looks like if the narrowing conversions are not all on the same level th

[2017-05-30 20:22] slozier commented on #1663
This was fixed in #1625.

[2017-05-30 20:22] #1663 closed, assigned to nobody

[2017-05-30 20:47] #1658 closed, assigned to slozier

[2017-05-31 03:05] utgwkk opened #1664 "Strange behavior of symbolic group name on regular expression module."
The duplication of symbolic group names on regular expression is prohibited on CPython's `re` module.
https://docs.python.org/2/library/re.html#regular-expression-syntax

However, the following code returns no error on IronPython 2.7.7, and yields a strange value.
This code should be an error.

[code]

[2017-06-05 18:20] slide commented on #294
This issue was moved to IronLanguages/ironpython2#11

[2017-06-05 18:20] #294 closed

[2017-06-05 18:22] slide commented on #837
This issue was moved to IronLanguages/ironpython2#12

[2017-06-05 18:22] #837 closed

[2017-06-05 19:50] slide commented on #1652
This issue was moved to IronLanguages/ironpython2#13

[2017-06-05 19:50] #1652 closed, assigned to nobody

[2017-06-05 19:50] slide commented on #1653
This issue was moved to IronLanguages/ironpython2#14

[2017-06-05 19:51] #1653 closed, assigned to nobody

[2017-06-05 19:52] slide commented on #1660
This issue was moved to IronLanguages/ironpython2#15

[2017-06-05 19:52] #1660 closed, assigned to nobody

[2017-06-05 19:52] slide commented on #1639
This issue was moved to IronLanguages/ironpython2#16

[2017-06-05 19:52] #1639 closed, assigned to nobody

[2017-06-05 20:26] slide commented on #863
This issue was moved to IronLanguages/ironpython2#17

[2017-06-05 20:26] #863 closed

[2017-06-06 12:47] slide commented on #1664
This issue was moved to IronLanguages/ironpython2#21

[2017-06-06 12:47] #1664 closed, assigned to nobody

[2017-06-06 12:48] slide commented on #1606
This issue was moved to IronLanguages/ironpython2#22

[2017-06-06 12:48] #1606 closed, assigned to nobody

[2017-06-06 12:49] slide commented on #1614
This issue was moved to IronLanguages/ironpython2#23

[2017-06-06 12:49] #1614 closed, assigned to nobody

[2017-06-06 12:49] slide commented on #1616
Please use the mailing list for questions. Use the "users" group at ironpython.groups.io

[2017-06-06 12:49] #1616 closed, assigned to nobody

[2017-06-06 12:51] slide commented on #1554
This issue was moved to IronLanguages/ironpython2#24

[2017-06-06 12:51] #1554 closed, assigned to nobody

[2017-06-06 12:52] slide commented on #1425
This issue was moved to IronLanguages/ironpython2#25

[2017-06-06 12:52] #1425 closed, assigned to nobody

[2017-06-06 12:53] slide commented on #1471
This issue was moved to IronLanguages/ironpython2#26

[2017-06-06 12:53] #1471 closed, assigned to nobody

[2017-06-06 12:54] slide commented on #1473
This issue was moved to IronLanguages/ironpython2#27

[2017-06-06 12:54] #1473 closed, assigned to nobody

[2017-06-06 12:55] slide commented on #1304
This issue was moved to IronLanguages/ironruby#10

[2017-06-06 12:55] #1304 closed

[2017-06-06 12:57] slide commented on #1654
This issue was moved to IronLanguages/ironpython2#28

[2017-06-06 12:57] #1654 closed, assigned to nobody

[2017-06-06 12:57] slide commented on #1655
This issue was moved to IronLanguages/ironpython2#29

[2017-06-06 12:57] #1655 closed, assigned to slide

[2017-06-06 12:57] slide commented on #1638
This issue was moved to IronLanguages/ironpython2#30

[2017-06-06 12:57] #1638 closed, assigned to slide

[2017-06-07 06:51] kalaiselviA opened #1665 "PARSINGCONTEXT can be used as ASTCONTEXT in the Expression nodes of IRony.Interpreter??Can anyone suggest please?"

[2017-06-07 13:03] slozier commented on #1665
Irony is not part of IronLanguages. I suggest asking in an Irony repo.

[2017-06-07 13:03] #1665 closed, assigned to nobody

[2017-06-07 14:58] slide commented on #1656
This looks like a regression in mono. I'm going to be filing a bug soon,.

[2017-06-09 14:03] slide commented on #1168
This issue was moved to IronLanguages/ironpython2#34

[2017-06-09 14:03] #1168 closed

[2017-06-09 14:03] slide commented on #1659
This issue was moved to IronLanguages/ironpython2#35

[2017-06-09 14:03] #1659 closed, assigned to nobody

[2017-06-09 14:03] slide commented on #1657
This issue was moved to IronLanguages/ironpython2#36

[2017-06-09 14:03] #1657 closed, assigned to nobody

[2017-06-09 14:04] slide commented on #1656
This issue was moved to IronLanguages/ironpython2#37

[2017-06-09 14:04] #1656 closed, assigned to nobody

[2017-06-09 14:04] slide commented on #1640
This issue was moved to IronLanguages/ironpython2#38

[2017-06-09 14:04] #1640 closed, assigned to nobody

[2017-06-09 14:05] slide commented on #1630
If you add -X:Frames to the command line for ipy.exe, does it solve your issue?

[2017-06-09 14:06] slide commented on #1610
This issue was moved to IronLanguages/ironpython2#39

[2017-06-09 14:06] #1610 closed, assigned to nobody

[2017-06-09 14:07] slide commented on #1628
This issue was moved to IronLanguages/ironpython2#40

[2017-06-09 14:07] #1628 closed, assigned to nobody

[2017-06-09 14:07] fabioz commented on #1630
No, and neither does adding -X:FullFrames.

[2017-06-09 14:10] slide commented on #1630
Ok, I see from looking at the code that we don't implement this right now regardless of the -X options. So, this would be a new feature for us to implement.

[2017-06-09 14:11] slide commented on #1630
This issue was moved to IronLanguages/ironpython2#41

[2017-06-09 14:11] #1630 closed, assigned to nobody

[2017-06-09 14:11] slide commented on #1570
This issue was moved to IronLanguages/ironpython2#42

[2017-06-09 14:11] #1570 closed, assigned to nobody

[2017-06-09 14:12] slide commented on #1626
This issue was moved to IronLanguages/ironpython2#43

[2017-06-09 14:12] #1626 closed, assigned to nobody

[2017-06-09 14:12] slide commented on #1622
This issue was moved to IronLanguages/ironpython2#44

[2017-06-09 14:12] #1622 closed, assigned to nobody

[2017-06-09 14:13] slide commented on #1619
This issue was moved to IronLanguages/ironpython2#45

[2017-06-09 14:13] #1619 closed, assigned to nobody

[2017-06-09 14:14] slide commented on #1619
This issue was moved to IronLanguages/ironpython2#46

[2017-06-09 14:14] slide commented on #1621
This issue was moved to IronLanguages/ironpython2#47

[2017-06-09 14:14] #1621 closed, assigned to nobody

[2017-06-09 14:15] slide commented on #1618
This issue was moved to IronLanguages/ironpython2#48

[2017-06-09 14:15] #1618 closed, assigned to nobody

[2017-06-09 14:15] slide commented on #1617
This issue was moved to IronLanguages/ironpython2#49

[2017-06-09 14:15] #1617 closed, assigned to nobody

[2017-06-09 14:15] slide commented on #1615
This issue was moved to IronLanguages/ironpython2#50

[2017-06-09 14:15] #1615 closed, assigned to nobody

[2017-06-09 14:15] slide commented on #1609
This issue was moved to IronLanguages/ironpython2#51

[2017-06-09 14:15] #1609 closed, assigned to nobody

[2017-06-09 14:16] slide commented on #1608
This issue was moved to IronLanguages/ironpython2#52

[2017-06-09 14:16] #1608 closed, assigned to nobody

[2017-06-09 14:16] slide commented on #1607
This issue was moved to IronLanguages/ironpython2#53

[2017-06-09 14:16] #1607 closed, assigned to nobody

[2017-06-09 14:16] slide commented on #1605
This issue was moved to IronLanguages/ironpython2#54

[2017-06-09 14:16] #1605 closed, assigned to nobody

[2017-06-09 14:16] slide commented on #1604
This issue was moved to IronLanguages/ironpython2#55

[2017-06-09 14:16] #1604 closed, assigned to nobody

[2017-06-09 14:16] slide commented on #1603
This issue was moved to IronLanguages/ironpython2#56

[2017-06-09 14:16] #1603 closed, assigned to nobody

[2017-06-09 14:17] slide commented on #1601
This issue was moved to IronLanguages/ironpython2#57

[2017-06-09 14:17] #1601 closed, assigned to nobody

[2017-06-09 14:17] slide commented on #1600
This issue was moved to IronLanguages/ironpython2#58